<wm-partial name="partial1" data-ng-controller="SetPricePageController"> 
    <wm-form name="form2" method="get" class="panel-primary" captionposition="top" enctype="application/x-www-form-urlencoded" dataset="bind:Variables.DealerPriceUpsertInvoke.dataSet"> 
        <wm-layoutgrid name="layoutgrid3"> 
            <wm-gridrow name="gridrow4"> 
                <wm-gridcolumn name="gridcolumn3" columnwidth="6"> 
                    <wm-form-field defaultvalue="bind:Variables.MonzaExecutePriceByVin.dataSet[$i].price" readonly="false" isupdatemode="true" name="price" displayname="price" target="price" type="double" show="true" widget="currency"></wm-form-field> 
                </wm-gridcolumn> 
                <wm-gridcolumn name="gridcolumn4" columnwidth="6"> 
                    <wm-form-field defaultvalue="bind:Variables.MonzaExecutePriceByVin.dataSet[$i].vin" readonly="false" isupdatemode="true" name="vin" displayname="vin" target="vin" type="string" show="true" widget="text"></wm-form-field> 
                </wm-gridcolumn> 
            </wm-gridrow> 
            <wm-gridrow name="gridrow5"> 
                <wm-gridcolumn name="gridcolumn5" columnwidth="6"> 
                    <wm-form-field defaultvalue="bind:Variables.MonzaExecutePriceByVin.dataSet[$i].expiresin" readonly="false" isupdatemode="true" name="expiresin" displayname="expiresin" target="expiresin" type="integer" show="true" widget="number"></wm-form-field> 
                </wm-gridcolumn> 
                <wm-gridcolumn name="gridcolumn6" columnwidth="6"> 
                    <wm-form-field defaultvalue="bind:Variables.dealerId.dataSet.dataValue" readonly="false" isupdatemode="true" name="dealer" displayname="dealer" target="dealer" type="string" show="true" widget="number"></wm-form-field> 
                </wm-gridcolumn> 
            </wm-gridrow> 
        </wm-layoutgrid> 
        <wm-buttongroup name="buttongroup1" horizontalalign="right" class="form-action col-md-12"> 
            <wm-button name="button1" caption="Reset" type="reset" class="btn-secondary"></wm-button> 
            <wm-button name="button2" caption="Cancel" type="button" class="btn-warning"></wm-button> 
            <wm-button name="button3" caption="Save" type="submit" class="btn-primary"></wm-button> 
        </wm-buttongroup> 
    </wm-form> 
</wm-partial>