<wm-partial data-ng-controller="topnavPageController" name="topnav" type="top-nav">
    <wm-navbar accessroles="Authenticated" name="navbar1">
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Quotes" name="quotesButton" iconclass="wi wi-exclamation-triangle" on-click="Variables.goToPage_Main.invoke()" accessroles="user,admin,manager"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_scans">
                <wm-anchor caption="Scans" name="scansButton" iconclass="fa fa-barcode" on-click="Variables.goToPage_LeadsScans.invoke()" accessroles="user,admin,manager"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services">
                <wm-anchor caption="Inventory" name="inventoryButton" iconclass="glyphicon glyphicon-list" on-click="Variables.goToPage_Inventory.invoke()" accessroles="admin,manager,user"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_campaigns">
                <wm-anchor caption="Campaigns" name="campaignButton" iconclass="fa fa-inbox" on-click="Variables.goToPage_CreateAd.invoke()" show="false"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services">
                <wm-anchor caption="Analytics" name="analyticsButton" iconclass="fa fa-line-chart" on-click="Variables.goToPage_Analytics.invoke()" show="false"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services">
                <wm-anchor caption="Configuration" name="configurationButton" iconclass="fa fa-gears" on-click="Variables.goToPage_PricesSetup.invoke()" accessroles="admin,manager"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Help" name="helpButton" iconclass="glyphicon glyphicon-question-sign" accessroles="Authenticated" show="false"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_home">
                <wm-anchor caption="Change Dealer" name="dealerButton" iconclass="wi wi-home" on-click="Variables.goToPage_SelectDealer.invoke()" show="true" accessroles="Authenticated"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services">
                <wm-anchor caption="Logout" name="logoutButton" iconclass="glyphicon glyphicon-user" on-click="Variables.logoutVariable.invoke()" accessroles="Authenticated"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
    </wm-navbar>
    <wm-message name="messageStatus" type="info" caption="bind:Variables.infoMessageVariable.dataSet.dataValue" show="false"></wm-message>
</wm-partial>