<wm-partial name="partial1" data-ng-controller="OptionsPopoverPageController" type="popover"> 
    <wm-prefab height="400" cols="bind:Variables.optionsColVariable.dataSet" list="bind:Variables.optionsVariable.dataSet" name="OptionsTreeGrid" prefabname="tree_grid_ui"></wm-prefab> 
</wm-partial>