<wm-partial data-ng-controller="selectHeaderPageController" type="header">
    <wm-layoutgrid name="headerlayout">
        <wm-gridrow name="headerrow">
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="12">
                <wm-picture margin="unset unset unset 5px" picturesource="resources/images/logos/uQuote - Design - Logo v5 - Icon White  Light Blue.png" name="AppLogo" width="60" shape="rounded"></wm-picture>
                <wm-label horizontalalign="right" backgroundposition="top,right" backgroundimage="resources/images/logos/uQuote - Design - Logo v5 - Icon White  Light Blue.png" height="46" width="182" fontweight="bold" caption="Dealer Console" class="application-name h1"
                name="AppName" fontsize="20"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>