<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel"> 
    <wm-nav name="leftnavigation" type="pills" layout="stacked"> 
        <wm-nav-item name="list_latestUpdate"> 
            <wm-anchor caption="Dashboard" name="dashboardButton" iconclass="glyphicon glyphicon-dashboard" on-click="Variables.goToPage_Analytics.invoke()"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_latestUpdate"> 
            <wm-anchor caption="Scans" name="scanButton" iconclass="glyphicon glyphicon-barcode" on-click="Variables.goToPage_Scans.invoke()"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_inTheNews"> 
            <wm-anchor caption="Quotes" name="porderButton" iconclass="glyphicon glyphicon-flash" on-click="Variables.goToPage_Quotes.invoke()"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_share"></wm-nav-item> 
        <wm-nav-item name="list_help"></wm-nav-item> 
    </wm-nav> 
</wm-partial>