<wm-page data-ng-controller="ConfigurationPageController" pagetitle="Configuration" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="configLefnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livegrid name="livegrid1" service="monza@DealerZipcode" accessroles="admin,manager">
                <wm-livefilter title="Filter Zipcodes and Makes" dataset="bind:Variables.MonzaDealerZipcodeData.dataSet" captionalign="left" captionposition="left" name="livefilter1" class="panel-default" accessroles="admin,manager">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                <wm-filter-field name="zipcode" field="zipcode" displayname="Zipcode" widget="text" is-range="false" filter-on="zipcode" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"
                                inputtype="text" is-related="false" key="zipcode" placeholder="Enter value" matchmode="start"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                                <wm-filter-field name="make" field="make" displayname="Make" widget="select" is-range="false" filter-on="make" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true" inputtype="text"
                                is-related="false" key="make" placeholder="Enter value" matchmode="start" dataset="bind:Variables.MonzaDealerMakeData.dataSet" datafield="make" displayfield="make"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="glyphicon glyphicon-filter" title="Filter" action="filter()" type="button"></wm-filter-action>
                    <wm-filter-action key="clear" display-name="Clear" show="true" class="btn" iconclass="glyphicon glyphicon-remove-circle" title="Clear" action="clearFilter()" type="button"></wm-filter-action>
                </wm-livefilter>
                <wm-grid exportformat="EXCEL,CSV" spacing="condensed" gridfirstrowselect="true" title="Dealer Zipcodes and Makes" dataset="bind:Widgets.livefilter1.result" name="grid1" class="panel-default" showrecordcount="true" editmode="inline" on-select="grid1Select($event, $rowData)"
                accessroles="admin,manager" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="zipcode" caption="Zipcode" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false" required="required"></wm-grid-column>
                    <wm-grid-column binding="make" caption="Make" type="string" generator="assigned" edit-widget-type="select" dataset="bind:Variables.MonzaDealerMakeData.dataSet" datafield="make" displayfield="make" defaultvalue="bind:Widgets.grid1.selecteditem.make"
                    show="true" readonly="false" on-change="makeChange($event, $scope, rowData)"></wm-grid-column>
                    <wm-grid-column binding="model" caption="Model" type="string" generator="assigned" edit-widget-type="select" dataset="bind:Variables.modelsVariable.dataSet.models" datafield="name" displayfield="name" defaultvalue="bind:Widgets.grid1.selecteditem.model"
                    show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="scan" caption="Scan" type="boolean" widget-type="checkbox" generator="assigned" edit-widget-type="checkbox" show="true" readonly="false">
                        <input ng-model="row.scan" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="" type="checkbox">
                    </wm-grid-column>
                    <wm-grid-column binding="quote" caption="Quote" type="boolean" widget-type="checkbox" generator="assigned" edit-widget-type="checkbox" show="true" readonly="false">
                        <input ng-model="row.quote" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="" type="checkbox">
                    </wm-grid-column>
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                    <wm-grid-column binding="discount" caption="Discount" type="integer" textalignment="right" generator="assigned" formatpattern="toCurrency" currencypattern="USD" fractionsize="0" mobiledisplay="false" edit-widget-type="number"
                    show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="state" caption="State" type="integer" generator="assigned" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue" displayfield="name"
                    defaultvalue="0" show="true" checkedvalue="0" uncheckedvalue="1" readonly="false">
                        <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                    </wm-grid-column>
                    <wm-grid-column binding="dealers.dealerId" type="integer" generator="assigned" is-related-pk="true" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaDealersData.dataSet" datafield="dealerId" displayfield="name"
                    defaultvalue="bind:Variables.dealerId.dataSet.dataValue" show="false" related-entity-name="Dealers" readonly="false"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New Zipcode" show="true" class="btn-primary" iconclass="glyphicon glyphicon-plus" title="New" action="addNewRow()" accessroles="admin,manager" disabled="false"></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="updaterowAction($event);editRow()" accessroles="admin,manager" disabled="false"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" accessroles="admin,manager" disabled="false"></wm-grid-row-action>
                </wm-grid>
                <wm-layoutgrid name="layoutgridx">
                    <wm-gridrow name="gridrowx">
                        <wm-gridcolumn columnwidth="5" name="gridcolumn3">
                            <wm-layoutgrid name="layoutgrid4">
                                <wm-gridrow name="gridrow11">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                                        <wm-label caption="bind:Variables.searchDealerVariable.dataSet.dealers[$i].name" name="labelDealerName" fontweight="bold"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow12">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                                        <wm-label caption="bind:Variables.searchDealerVariable.dataSet.dealers[$i].address.street" name="labelDealerStreet" fontweight="bold"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow13">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                                        <wm-label caption="bind:Variables.searchDealerVariable.dataSet.dealers[$i].address.city" name="labelDealerCity" fontweight="bold"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow14">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                                        <wm-label caption="bind:Variables.searchDealerVariable.dataSet.dealers[$i].address.stateName" name="labelDealerStateName" fontweight="bold"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow15">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                                        <wm-label caption="bind:Variables.searchDealerVariable.dataSet.dealers[$i].address.zipcode" name="labelDealerZipcode" fontweight="bold"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="5" name="gridcolumny">
                            <wm-prefab zoom="10" perimeter="false" info="info" icon="icon" locations="bind:Variables.dealerMapVariable.dataSet" lng="lon" lat="lat" markertype="LatLng" name="dealerMap" prefabname="googlemaps" accessroles="admin,manager"></wm-prefab>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>