<wm-partial name="partial1" data-ng-controller="ImagesPopoverPageController" type="popover"> 
    <wm-carousel dataset="bind:Variables.VehicleImagesVariable.dataSet.dataValue" width="640" name="carousel1" height="480" type="dynamic"> 
        <wm-carousel-template name="carousel_template1" horizontalalign="center"> 
            <wm-picture picturesource="{{item}}" shape="rounded" name="picture1" width="100%"></wm-picture> 
        </wm-carousel-template> 
    </wm-carousel> 
</wm-partial>