<wm-partial data-ng-controller="CampaignLeftnavPageController" type="leftnav">
    <wm-nav type="pills" layout="stacked">
        <wm-nav-item>
            <wm-anchor caption="Ad Sets" iconclass="glyphicon glyphicon-dashboard" class="active"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item>
            <wm-anchor caption="Ads" iconclass="glyphicon glyphicon-file"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item>
            <wm-anchor caption="Link" iconclass="glyphicon glyphicon-tags"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>