<wm-page data-ng-controller="CreateAdPageController" pagetitle="Create Ad" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="CampaignLeftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-wizard stepstyle="justified" name="wizardCreateAd">
                <wm-wizardstep name="wizardstepModel" title="Select Model">
                    <wm-grid title="" dataset="bind:Variables.InventoryMakeModelInvoke.dataSet.inventory" navigation="Basic" name="gridModels" spacing="condensed">
                        <wm-grid-column binding="make" caption="Make" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="model" caption="Model" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="size" caption="Number In Stock" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    </wm-grid>
                </wm-wizardstep>
                <wm-wizardstep name="wizardstepVehicle" title="Select Vehicle">
                    <wm-grid title="bind:Widgets.gridModels.selecteditem.make" dataset="bind:Variables.AdInventorySearchModelInvoke.dataSet.inventory" navigation="Basic" name="gridVehicles" spacing="condensed" subheading="bind:Widgets.gridModels.selecteditem.model"
                    filtermode="search">
                        <wm-grid-column binding="stock" caption="Stock" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="vin" caption="VIN" type="string" width="200px" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="year" caption="Year" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="trim" caption="Trim" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="daysinstock" caption="Days In Stock" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="expiresin" caption="Expires In" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="saleprice" caption="Sale Price" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="msrp" caption="MSRP" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="invoice" caption="Invoice" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="sellingprice" caption="Internet Price" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="extcolor" caption="Color" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    </wm-grid>
                </wm-wizardstep>
                <wm-wizardstep name="wizardstepDetail" title="Vehicle Review">
                    <wm-container name="containerDetail" content="VehicleDetail">
                        <wm-param name="vin" value="bind:Widgets.gridVehicles.selecteditem.vin" type="string"></wm-param>
                        <wm-param name="zipcode" value="bind:Widgets.gridVehicles.selecteditem.zipcode" type="string"></wm-param>
                    </wm-container>
                </wm-wizardstep>
                <wm-wizardstep name="wizardstepImage" title="Select Image">
                    <wm-livelist listclass="list-group" template="true" itemsperrow="xs-1 sm-2 md-4 lg-4" class="list-card" dataset="bind:Variables.GetAdImagesInvoke.dataSet.imagelist" navigation="Scroll" name="livelist2">
                        <wm-listtemplate layout="media" name="listtemplate2">
                            <wm-card name="Thumbnail" picturesource="bind:Variables.GetAdImagesInvoke.dataSet.imagelist.thumbnail">
                                <wm-card-content name="card_content1">
                                    <wm-label name="Name" caption="bind:Variables.GetAdImagesInvoke.dataSet.imagelist.type" fontsize="1.286" fontunit="em" margin="unset 0.2em unset unset"></wm-label>
                                </wm-card-content>
                                <wm-card-footer horizontalalign="center" name="card_footer1">
                                    <wm-anchor caption="Select" class="btn btn-transparent text-warning" name="anchor1"></wm-anchor>
                                </wm-card-footer>
                            </wm-card>
                        </wm-listtemplate>
                    </wm-livelist>
                </wm-wizardstep>
                <wm-wizardstep name="wizardstepAdSet" title="Select Ad Set">
                    <wm-grid title="" dataset="bind:Variables.GetAsSetsInvoke.dataSet.data" navigation="Basic" name="gridAdSets" spacing="condensed">
                        <wm-grid-column binding="id" caption="Id" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="name" caption="Name" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="targeting.age_min" caption="Targeting Age Min" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="targeting.age_max" caption="Targeting Age Max" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="lifetime_budget" caption="Lifetime Budget" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="lifetime_imps" caption="Lifetime Imps" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="updated_time" caption="Updated Time" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="promoted_object.page_id" caption="Promoted_object Page Id" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="frequency_cap_reset_period" caption="Frequency Cap Reset Period" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="campaign.id" caption="Campaign Id" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="budget_remaining" caption="Budget Remaining" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="account_id" caption="Account Id" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="status" caption="Status" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="daily_budget" caption="Daily Budget" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="start_time" caption="Start Time" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="created_time" caption="Created Time" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="bid_amount" caption="Bid Amount" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="is_average_price_pacing" caption="Is Average Price Pacing" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    </wm-grid>
                </wm-wizardstep>
                <wm-wizardstep name="wizardstepCreate" title="Create Ad"></wm-wizardstep>
            </wm-wizard>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>