<wm-partial name="partial1" data-ng-controller="RepriceAllPageController">
    <wm-form name="form1" method="get" captionposition="top" enctype="application/x-www-form-urlencoded" dataset="bind:Variables.RepriceAllVariable.dataSet">
        <wm-layoutgrid name="layoutgrid1">
            <wm-gridrow name="gridrow1">
                <wm-gridcolumn name="gridcolumn2" columnwidth="6">
                    <wm-form-field readonly="false" name="expiration" displayname="Valid Until" target="expiration" type="string" show="true" widget="date" required="true" validationmessage="Select Valid Until Date" mindate="currentdate()" defaultvalue="CURRENT_DATE"></wm-form-field>
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn4" columnwidth="6">
                    <wm-form-field readonly="false" name="expiresin" displayname="bind:'Offer will be good for x' +  ' hours'" target="expiresin" type="integer" show="true" widget="number" placeholder="Enter number of hours" required="true" defaultvalue="24"
                    minvalue="0" step="1" validationmessage="Select expiration hours"></wm-form-field>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow1">
                <wm-gridcolumn name="gridcolumn5" columnwidth="4">
                    <wm-form-field displayname="Make" widget="select" show="true" type="custom" model="make" name="make" dataset="bind:Variables.MonzaDealerMakeData.dataSet" datafield="make" displayfield="make" on-change="makeChange($event, $scope)"></wm-form-field>
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn6" columnwidth="4">
                    <wm-form-field displayname="Model" widget="select" show="true" type="custom" name="model" model="model" dataset="bind:Variables.modelsRepriceVariable.dataSet.models" datafield="name" displayfield="name" on-change="modelChange($event, $scope)"></wm-form-field>
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn7" columnwidth="4">
                    <wm-form-field readonly="false" name="trim" displayname="Trim" model="trim" type="string" show="true" widget="text"></wm-form-field>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow3">
                <wm-gridcolumn name="gridcolumn8" columnwidth="12">
                    <wm-grid readonlygrid="true" title="" dataset="bind:Variables.MonzaExecuteDealerDiscounts.dataSet" navigation="Basic" name="grid1" gridsearch="true" gridfirstrowselect="true" gridclass="table-bordered table-hover">
                        <wm-grid-column binding="year" caption="Year" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="make" caption="Make" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="model" caption="Model" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="price_base" caption="Price Base" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="age_discount" caption="Daily Age Discount" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="finance_discount" caption="Finance Discount" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="tradein_discount" caption="TradeIn Discount" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                    </wm-grid>
                    <wm-grid readonlygrid="true" title="Channel Discounts" dataset="bind:Variables.MonzaChannelDiscountData.dataSet" navigation="Basic" name="grid3" gridclass="table-bordered table-hover">
                        <wm-grid-column binding="discount" caption="Discount" type="integer" generator="assigned" readonly="true" formatpattern="toCurrency" currencypattern="USD" fractionsize="0" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="percent" caption="Percent" type="integer" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="discountBase" caption="Discount Base" type="string" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="state" caption="State" type="integer" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="created" caption="Created" type="datetime" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="modified" caption="Modified" type="datetime" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                    </wm-grid>
                    <wm-grid readonlygrid="true" title="Age Discount Ranges" dataset="bind:Variables.MonzaDiscountAgeRangesData.dataSet" navigation="Basic" name="grid2" gridclass="table-bordered table-hover">
                        <wm-grid-column binding="min" caption="Min" type="integer" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="max" caption="Max" type="integer" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="discount" caption="Discount" type="integer" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="percent" caption="Percent Discount" type="integer" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="false" show="true"></wm-grid-column>
                        <wm-grid-column binding="priority" caption="Priority" type="integer" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="modified" caption="Modified" type="datetime" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                        <wm-grid-column binding="created" caption="Created" type="datetime" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                    </wm-grid>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
        <wm-buttongroup name="buttongroup1" horizontalalign="right" class="form-action col-md-12">
            <wm-button name="button1" caption="Change Configuration" type="button" class="btn-secondary" iconclass="wi wi-build" on-click="Variables.goToPage_PricesSetup.invoke()" backgroundcolor="#36dfbc"></wm-button>
            <wm-button name="button2" caption="Reset" type="reset" class="btn-secondary"></wm-button>
            <wm-button name="button3" caption="Process" type="submit" class="btn-primary"></wm-button>
        </wm-buttongroup>
    </wm-form>
    <wm-spinner caption="Repricing..." servicevariabletotrack="RepriceAllVariable" name="spinner1" show="false"></wm-spinner>
</wm-partial>