<wm-page data-ng-controller="LeadsPageController" pagetitle="Leads" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-tile name="tile1" height="600" animation="fadeOutLeft"> 
                <wm-panel class="panel-primary" name="panel2" collapsible="true" enablefullscreen="true" animation="bounceOutLeft" expanded="true" width="400"> 
                    <wm-panel-footer name="panel_footer2"></wm-panel-footer> 
                </wm-panel> 
                <wm-panel class="panel-primary" name="panel3" width="400"> 
                    <wm-panel-footer name="panel_footer3"></wm-panel-footer> 
                </wm-panel> 
            </wm-tile> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer" name="footer1"></wm-footer> 
</wm-page>