<wm-page data-ng-controller="NotificationsPageController" pagetitle="Notifications" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav name="top_nav1" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="configLefnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livegrid name="livegrid1" service="monza@Notifications">
                <wm-grid spacing="condensed" gridfirstrowselect="true" title="User Notifications" dataset="bind:Variables.MonzaNotificationsData.dataSet" name="notificationsGrid" class="panel-default" editmode="inline" filtermode="multicolumn" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="users.userId" caption="Username" type="integer" generator="identity" is-related-pk="true" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaUsersData.dataSet" datafield="userId" placeholder="Select value"
                    displayfield="username" defaultvalue="bind:Widgets.notificationsGrid.selecteditem.users" show="true" related-entity-name="Users" readonly="false">
                        <wm-label caption="{{row.getProperty('users.username')}}" show="true" data-ng-class=""></wm-label>
                    </wm-grid-column>
                    <wm-grid-column binding="type" caption="Type" type="integer" generator="assigned" edit-widget-type="select" dataset="bind:Variables.notificationTypeVariable.dataSet" datafield="dataValue" displayfield="type" defaultvalue="bind:Widgets.notificationsGrid.selecteditem.type"
                    show="true" readonly="false">
                        <wm-label caption="{{row.getProperty('type') ? 'Text' : 'Email'}}" show="true" data-ng-class=""></wm-label>
                    </wm-grid-column>
                    <wm-grid-column binding="action" caption="Action" type="integer" generator="assigned" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.actionsVariable.dataSet" datafield="dataValue" displayfield="name" defaultvalue="bind:Widgets.notificationsGrid.selecteditem.action"
                    show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="state" caption="State" type="integer" generator="assigned" edit-widget-type="select" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue" placeholder="Select value" displayfield="name"
                    defaultvalue="bind:Widgets.notificationsGrid.selecteditem.state" show="true" readonly="false">
                        <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                    </wm-grid-column>
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="select" dataset="bind:Variables.actionsVariable.dataSet" datafield="dataValue" displayfield="name" searchable="false" show="true"></wm-grid-column>
                    <wm-grid-column binding="dealers.dealerId" type="integer" generator="assigned" is-related-pk="true" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaDealersData.dataSet" datafield="dealerId"
                    displayfield="name" defaultvalue="bind:Variables.dealerId.dataSet.dataValue" show="false" related-entity-name="Dealers" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="users.username" type="string" generator="assigned" mobiledisplay="false" show="false" related-entity-name="Users" readonly="undefined"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="glyphicon glyphicon-plus" title="New" action="addNewRow()" accessroles="admin,manager" disabled="false"></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" accessroles=",admin,manager" disabled="false"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" accessroles=",admin,manager" disabled="false"></wm-grid-row-action>
                </wm-grid>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>