<wm-partial name="partial1" data-ng-controller="CompareVehiclePageController"> 
    <wm-container show="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.hasOwnProperty('year')" name="containerTrim"> 
        <wm-panel title="Year" collapsible="true" closable="false" name="panelYear" class="panel-primary"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn name="gridcolumn1" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.year" name="labelYear1"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn2" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.year" name="labelYear2"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-panel> 
    </wm-container> 
    <wm-container show="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.hasOwnProperty('trim')" name="containerTrim"> 
        <wm-panel title="Trim" collapsible="true" closable="false" name="panelTrim" class="panel-primary"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn name="gridcolumn1" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.trim" name="labelTrim1"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn2" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.trim" name="labelTrim2"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-panel> 
    </wm-container> 
    <wm-container show="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.hasOwnProperty('styleName')" name="containerStyle"> 
        <wm-panel title="Style" collapsible="true" closable="false" name="panelStyle" class="panel-primary"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn name="gridcolumn1" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.styleName" name="labelStyleName1"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn2" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.styleName" name="labelstyleName2"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-panel> 
    </wm-container> 
    <wm-container show="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.hasOwnProperty('price')" name="containerPrice"> 
        <wm-panel title="Price" collapsible="true" closable="false" name="panelPrice" class="panel-primary"> 
            <wm-layoutgrid name="layoutgrid3"> 
                <wm-gridrow name="gridrow4"> 
                    <wm-gridcolumn horizontalalign="left" name="gridcolumn8" columnwidth="4"> 
                        <wm-label caption="Invoice" name="label4"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn horizontalalign="right" name="gridcolumn9" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.price.baseInvoice | toCurrency: '$': '2'" name="label3"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn horizontalalign="right" name="gridcolumn91" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.price.baseInvoice | toCurrency: '$': '2'" name="label3"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow5"> 
                    <wm-gridcolumn name="gridcolumn11" columnwidth="4"> 
                        <wm-label caption="Base MSRP" name="label7"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn horizontalalign="right" name="gridcolumn12" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.price.baseMSRP | toCurrency: '$': '2'" name="label9"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn horizontalalign="right" name="gridcolumn121" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.price.baseMSRP | toCurrency: '$': '2'" name="label9"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow6"> 
                    <wm-gridcolumn name="gridcolumn14" columnwidth="4"> 
                        <wm-label caption="Delivery Charges" name="label8"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn horizontalalign="right" name="gridcolumn15" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.price.deliveryCharges | toCurrency: '$': '2'" name="label10"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn horizontalalign="right" name="gridcolumn151" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.price.deliveryCharges | toCurrency: '$': '2'" name="label10"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow7"> 
                    <wm-gridcolumn name="gridcolumn17" columnwidth="4"> 
                        <wm-label caption="MSRP" name="label5"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn horizontalalign="right" name="gridcolumn18" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.price.msrp | toCurrency: '$': '2'" name="label6"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn horizontalalign="right" name="gridcolumn18" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.price.msrp | toCurrency: '$': '2'" name="label6"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-panel> 
    </wm-container> 
    <wm-container show="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.hasOwnProperty('exteriorColor')" name="containerexteriorColor"> 
        <wm-panel title="Exterior Color" collapsible="true" closable="false" name="panelExteriorColor" class="panel-primary"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn name="gridcolumn1" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.exteriorColor.name" name="labelexteriorColor1"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn2" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.exteriorColor.name" name="labelexteriorColor2"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-panel> 
    </wm-container> 
    <wm-container show="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.hasOwnProperty('interiorColor')" name="containerinteriorColor"> 
        <wm-panel title="Interior Color" collapsible="true" closable="false" name="panelInteriorColor" class="panel-primary"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn name="gridcolumn1" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.interiorColor.name" name="labelinteriorColor1"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn2" columnwidth="6"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.interiorColor.name" name="labelinteriorColor2"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-panel> 
    </wm-container> 
    <wm-panel title="Options" collapsible="true" closable="false" name="panelOptions" class="panel-primary"> 
        <wm-container height="200" show="true" name="containerOptions"> 
            <wm-layoutgrid height="100%" name="layoutgrid1"> 
                <wm-gridrow height="100%" name="gridrow1"> 
                    <wm-gridcolumn height="100%" name="gridcolumn1" columnwidth="6"> 
                        <wm-prefab height="100%" cols="bind:Variables.optionsColVariable.dataSet" list="bind:Variables.vehicle1OptionsVariable.dataSet" name="tree_grid_options1" prefabname="tree_grid_ui"></wm-prefab> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn2" columnwidth="6"> 
                        <wm-prefab height="100%" list="bind:Variables.vehicle2OptionsVariable.dataSet" cols="bind:Variables.optionsColVariable.dataSet" name="tree_grid_options2" prefabname="tree_grid_ui"></wm-prefab> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-container> 
    </wm-panel> 
    <wm-container show="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.hasOwnProperty('MPG')" name="containerMPG"> 
        <wm-panel title="MPG" collapsible="true" closable="false" name="panelMPG" class="panel-primary"> 
            <wm-layoutgrid name="layoutgrid10"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn name="gridcolumn0" columnwidth="4"> 
                        <wm-label caption="City" name="labelMPGCity"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn1" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.MPG.city" name="labelMPGCity1"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn2" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.MPG.city" name="labelMPEGCity2"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow2"> 
                    <wm-gridcolumn name="gridcolumn01" columnwidth="4"> 
                        <wm-label caption="Highway" name="labelMPGHW"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn11" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle1.MPG.highway" name="labelMPGHW1"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn21" columnwidth="4"> 
                        <wm-label caption="bind:Variables.VehicleDiffInvoke.dataSet.vehicle2.MPG.highway" name="labelMPGHW2"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-panel> 
    </wm-container> 
</wm-partial>