<wm-partial data-ng-controller="UserDetailPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow1">
            <wm-gridcolumn columnwidth="12" name="gridcolumn1"></wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow2">
            <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                <wm-grid title="User Quote Request" dataset="bind:Variables.DealerUserQuoteRequestsInvoke.dataSet.responses" navigation="Basic" name="userRequestsGrid" spacing="condensed" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="image" caption="Image" type="string" widget-type="image" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"><img data-ng-src="{{row.getProperty('image')}}" alt="{{row.getProperty('image')}}" class="" data-ng-class="">
                    </wm-grid-column>
                    <wm-grid-column binding="state" caption="State" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="channel" caption="Channel" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="year" caption="Year" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="model" caption="Model" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="make" caption="Make" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="tradein" caption="Tradein" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="color" caption="Color" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="msrp" caption="MSRP" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" fractionsize="0" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="created" caption="Created" type="string" readonly="true" datepattern="yyyy-MM-dd HH:mm" formatpattern="toDate" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="vin" caption="VIN" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="expiration" caption="Expiration" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="zipcode" caption="Zipcode" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="finance" caption="Finance" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                </wm-grid>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow3">
            <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                <wm-grid title="Quote Responses" dataset="bind:Variables.DealerQuoteResponsesInvoke.dataSet.responses" navigation="Basic" name="userResponsesGrid" spacing="condensed" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="image" caption="Image" type="string" widget-type="image" readonly="true" edit-widget-type="text" show="true"><img data-ng-src="{{row.getProperty('image')}}" alt="{{row.getProperty('image')}}" class="" data-ng-class="">
                    </wm-grid-column>
                    <wm-grid-column binding="vin" caption="VIN" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="color" caption="Color" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="msrp" caption="MSRP" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" fractionsize="0" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="offerprice" caption="Sale Price" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" fractionsize="0" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="expiration" caption="Expiration" type="string" readonly="true" datepattern="yyyy-MM-dd HH:mm" formatpattern="toDate" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="state" caption="State" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="created" caption="Created" type="string" readonly="true" datepattern="yyyy-MM-dd HH:mm" formatpattern="toDate" edit-widget-type="text" show="true"></wm-grid-column>
                </wm-grid>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow4">
            <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                <wm-grid title="User Scans" dataset="bind:Variables.DealerScansInvoke.dataSet.scans" navigation="Basic" name="userScansGrid" spacing="condensed" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="image" caption="Image" type="string" widget-type="image" readonly="true" edit-widget-type="text" show="true"><img data-ng-src="{{row.getProperty('image')}}" alt="{{row.getProperty('image')}}" class="" data-ng-class="">
                    </wm-grid-column>
                    <wm-grid-column binding="channel" caption="Channel" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="year" caption="Year" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="make" caption="Make" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="model" caption="Model" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="color" caption="Color" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="msrp" caption="MSRP" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" fractionsize="0" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="vin" caption="VIN" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="zipcode" caption="Zipcode" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="created" caption="Created" type="string" readonly="true" datepattern="yyyy-MM-dd HH:mm" formatpattern="toDate" edit-widget-type="text" show="true"></wm-grid-column>
                </wm-grid>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>