<wm-partial data-ng-controller="headerPageController" name="header" type="header">
    <wm-layoutgrid name="headerlayout">
        <wm-gridrow name="headerrow">
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="10">
                <wm-picture margin="unset unset unset 5px" picturesource="resources/images/logos/uQuote - Design - Logo v5 - Icon White  Light Blue.png" name="AppLogo" width="60" shape="rounded"></wm-picture>
                <wm-label horizontalalign="right" backgroundposition="top,right" backgroundimage="resources/images/logos/uQuote - Design - Logo v5 - Icon White  Light Blue.png" height="46" width="182" fontweight="bold" caption="Dealer Console"
                class="application-name h1" name="AppName" fontsize="20"></wm-label>
                <wm-label name="dealerNameLabel" width="530" textalign="right" height="29" caption="bind:Variables.title.dataSet.dataValue" fontsize="20" fontweight="bold" class="h1"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn padding="1em 1em unset unset" name="headerright" horizontalalign="right" verticalalign="middle" columnwidth="2">
                <wm-search name="siteSearch" dataset="Home, Services, Products, About US, Contact" show="false"></wm-search>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>