<wm-page data-ng-controller="SelectDealerPageController" pagetitle="Select Dealer" name="page1">
    <wm-header content="selectHeader" name="header1" accessroles="Authenticated"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" padding="100px 150px unset 150px" accessroles="Authenticated">
            <wm-grid title="Select Dealership" dataset="bind:Variables.MonzaExecuteGetUserByDealers.dataSet" navigation="Basic" name="selectDealerGrid" gridfirstrowselect="true" filtermode="search" showrecordcount="true" accessroles="Authenticated" spacing="condensed"
            gridclass="table-bordered table-hover">
                <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-grid-column>
                <wm-grid-column binding="name" caption="Dealer Name" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                <wm-grid-column binding="dealer_id" caption="Dealer Id" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                <wm-grid-column binding="username" caption="Username" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                <wm-grid-column binding="role" caption="Role" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-action key="customButton" display-name="Logout" show="true" class="btn-primary" iconclass="glyphicon glyphicon-user" title="Logout" action="Variables.logoutVariable.invoke()" shortcutkey="" disabled="false" position="header"></wm-grid-action>
                <wm-grid-row-action key="customRow" display-name="Select" show="true" class="btn-transparent" iconclass="wi wi-home" title="Select" action="customRowAction($event)" disabled="false"></wm-grid-row-action>
            </wm-grid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-alertdialog name="notificationalertdialog" controller="NotificationDialogController" notificationdialog="alert" message="{{notification.text}}" title="{{notification.title}}" oktext="{{notification.okButtonText}}" alerttype="{{notification.alerttype}}"
        on-ok="variableOnOk()" on-close="variableOnClose()"></wm-alertdialog>
    </wm-view>
</wm-page>