<wm-page data-ng-controller="InventoryReportPageController" pagetitle="Inventory Report" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-composite name="composite2"> 
                <wm-label class="col-md-3 control-label" name="label2" caption="Channel"></wm-label> 
                <wm-container class="col-md-9" name="container1"> 
                    <wm-select name="channelSelect" dataset="bind:Variables.ChannelsLiveVariableData.dataSet" datafield="channelId" displayfield="name"></wm-select> 
                </wm-container> 
            </wm-composite> 
            <wm-grid title="Inventory" dataset="bind:Variables.InventoryReportData.dataSet.inventory" navigation="Basic" name="reportGrid" spacing="condensed" subheading="Report" pagesize="20" showrecordcount="true" filtermode="multicolumn"> 
                <wm-grid-column binding="stock" caption="Stock" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="pricestate" caption="Price State" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="year" caption="Year" type="integer" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="make" caption="Make" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="model" caption="Model" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="body" caption="Body" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="msrp" caption="Msrp" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="invoice" caption="Invoice" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="uquoteprice" caption="Uquote Sale Price" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="sellingprice" caption="Selling Price" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="daysinstock" caption="Days in Stock" type="integer" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="dealercash" caption="Dealer Cash" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="modelno" caption="Model No" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="doors" caption="Doors" type="integer" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="enginedisplacement" caption="Enginedisplacement" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="drivetrain" caption="Drivetrain" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="expiresin" caption="Expiresin" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="type" caption="Type" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="dailyagediscount" caption="Dailyagediscount" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="dealerid" caption="Dealerid" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="balance" caption="Balance" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="updated" caption="Updated" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="created" caption="Created" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="interest" caption="Interest" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="description" caption="Description" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="vin" caption="Vin" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="highwaympg" caption="Highwaympg" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="styledescription" caption="Styledescription" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="dealerzipcode" caption="Dealerzipcode" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="expiration" caption="Expiration" type="date" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="pkg" caption="Pkg" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="fueltype" caption="Fueltype" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="transmission" caption="Transmission" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="transmissionspeed" caption="Transmissionspeed" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="intcolor" caption="Intcolor" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="internetprice" caption="Internetprice" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="citympg" caption="Citympg" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="locked" caption="Locked" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="valid" caption="Valid" type="date" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="tradeindiscount" caption="Tradeindiscount" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="dateinstock" caption="Dateinstock" type="date" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="state" caption="State" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="enginecylinders" caption="Enginecylinders" type="integer" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="passengercapacity" caption="Passengercapacity" type="integer" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="intcolorhex" caption="Intcolorhex" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="categorizedoptions" caption="Categorizedoptions" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="miscprice3" caption="Miscprice3" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="miscprice2" caption="Miscprice2" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="miscprice1" caption="Miscprice1" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="agediscount" caption="Agediscount" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="saleprice" caption="Saleprice" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="extcolor" caption="Extcolor" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="zipcode" caption="Zipcode" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="provider" caption="Provider" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="providerdealerid" caption="Providerdealerid" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="financediscount" caption="Financediscount" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="extcolorhex" caption="Extcolorhex" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="localdiscount" caption="Localdiscount" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="dealerdiscount" caption="Dealerdiscount" type="float" readonly="true" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="tradein" caption="Tradein" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="intcolorcode" caption="Intcolorcode" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="modifiedby" caption="Modifiedby" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="extcolorcode" caption="Extcolorcode" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="finance" caption="Finance" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column> 
                <wm-grid-column binding="location" caption="Location" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column> 
            </wm-grid> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer" name="footer1"></wm-footer> 
    <wm-view class="dialog-view" name="view1"> 
        <wm-dialog dialogtype="design-dialog" modal="true" name="dialog1" title="Export CSV" iconclass="wi wi-edit"> 
            <wm-form captionposition="top" class="app-dialog-form" name="form1"> 
                <wm-composite name="composite1"> 
                    <wm-label class="col-md-3 control-label" caption="File Name" name="label1"></wm-label> 
                    <wm-text name="text1"></wm-text> 
                </wm-composite> 
            </wm-form> 
            <wm-dialogactions name="dialogactions1"> 
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button1"></wm-button> 
                <wm-button class="btn-primary" caption="Save" name="button2"></wm-button> 
            </wm-dialogactions> 
        </wm-dialog> 
    </wm-view> 
</wm-page>