<wm-partial name="partial1" data-ng-controller="DealerPopoverPageController" type="popover"> 
    <wm-layoutgrid name="layoutgrid1"> 
        <wm-gridrow name="gridrow1"> 
            <wm-gridcolumn name="gridcolumn1" columnwidth="12"> 
                <wm-label caption="bind:Variables.VehicleDealerVariable.dataSet.dataValue.address.street" name="label1"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn name="gridcolumn2" columnwidth="12"> 
                <wm-label caption="bind:Variables.VehicleDealerVariable.dataSet.dataValue.address.city + ',' + Variables.VehicleDescriptionInvoke.dataSet.dealer.address.stateCode" name="label2"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn name="gridcolumn3" columnwidth="12"> 
                <wm-label caption="bind:Variables.VehicleDealerVariable.dataSet.dataValue.address.zipcode" name="label3"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>