<wm-page data-ng-controller="AnalyticsPageController" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav> 
    <wm-content name="content1"> 
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel> 
        <wm-page-content columnwidth="10" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1" marginunit="em"> 
                <wm-gridrow name="gridrow1" paddingunit="em" paddingtop=".5" paddingbottom=".5" paddingleft=".5" paddingright=".5"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn1" paddingleft=".5" paddingright=".5" paddingunit="em" paddingtop=".5" paddingbottom=".5" horizontalalign="center"> 
                        <wm-tile name="tile1" paddingunit="em" marginunit="em" backgroundcolor="#b4e7dc"> 
                            <wm-container name="container1" marginunit="em" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em"> 
                                <wm-label name="label1" width="100%" caption="Average Deal Unit" marginbottom="0" class="text-uppercase h4" marginunit="em"></wm-label> 
                                <wm-label name="label2" width="100%" caption="(in numbers)" marginbottom="0" class="h5"></wm-label> 
                                <wm-label name="label3" width="100%" caption="This week" fontstyle="italic" class="h5"></wm-label> 
                                <wm-label name="label4" width="100%" caption="25.02" marginbottom="0" class="h3" margintop="0" fontweight="bold"></wm-label> 
                                <wm-icon name="icon1" iconclass="fa fa-caret-up"></wm-icon> 
                                <wm-label name="label5" marginunit="em" marginleft=".2" marginright=".2" caption="2.8%" marginbottom="0" class="h5"></wm-label> 
                            </wm-container> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" paddingleft=".5" paddingright=".5" paddingunit="em" paddingtop=".5" paddingbottom=".5" horizontalalign="center" name="gridcolumn5"> 
                        <wm-tile paddingunit="em" marginunit="em" name="tile3" backgroundcolor="#9accd6"> 
                            <wm-container marginunit="em" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" name="container8"> 
                                <wm-label width="100%" caption="Average Deal Value" marginbottom="0" class="text-uppercase h4" marginunit="em" name="label41"></wm-label> 
                                <wm-label width="100%" caption="(in dollars)" marginbottom="0" class="h5" name="label42"></wm-label> 
                                <wm-label width="100%" caption="This week" fontstyle="italic" class="h5" name="label43"></wm-label> 
                                <wm-label width="100%" caption="$25k" marginbottom="0" class="h3" margintop="0" name="label44" fontweight="bold"></wm-label> 
                                <wm-icon iconclass="fa fa-caret-up" name="icon8"></wm-icon> 
                                <wm-label marginunit="em" marginleft=".2" marginright=".2" caption="2.8%" marginbottom="0" class="h5" name="label45"></wm-label> 
                            </wm-container> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" paddingleft=".5" paddingright=".5" paddingunit="em" paddingtop=".5" paddingbottom=".5" horizontalalign="center" name="gridcolumn6"> 
                        <wm-tile paddingunit="em" marginunit="em" name="tile4" backgroundcolor="#5e738b" color="#ffffff"> 
                            <wm-container marginunit="em" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" name="container9"> 
                                <wm-label width="100%" caption="Total Deal Unit" marginbottom="0" class="text-uppercase h4" marginunit="em" name="label46"></wm-label> 
                                <wm-label width="100%" caption="(in numbers)" marginbottom="0" class="h5" name="label47"></wm-label> 
                                <wm-label width="100%" caption="This week" fontstyle="italic" class="h5" name="label48"></wm-label> 
                                <wm-label width="100%" caption="102" marginbottom="0" class="h3" margintop="0" name="label49" fontweight="bold"></wm-label> 
                                <wm-icon iconclass="fa fa-caret-up" name="icon9"></wm-icon> 
                                <wm-label marginunit="em" marginleft=".2" marginright=".2" caption="2.8%" marginbottom="0" class="h5" name="label50"></wm-label> 
                            </wm-container> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" paddingleft=".5" paddingright=".5" paddingunit="em" paddingtop=".5" paddingbottom=".5" horizontalalign="center" name="gridcolumn7"> 
                        <wm-tile paddingunit="em" marginunit="em" name="tile5" backgroundcolor="#464e74" color="#ffffff"> 
                            <wm-container marginunit="em" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" name="container10"> 
                                <wm-label width="100%" caption="Total Deal Time" marginbottom="0" class="text-uppercase h4" marginunit="em" name="label51"></wm-label> 
                                <wm-label width="100%" caption="(in days)" marginbottom="0" class="h5" name="label52"></wm-label> 
                                <wm-label width="100%" caption="This week" fontstyle="italic" class="h5" name="label53"></wm-label> 
                                <wm-label width="100%" caption="9.21" marginbottom="0" class="h3" margintop="0" name="label54" fontweight="bold"></wm-label> 
                                <wm-icon iconclass="fa fa-caret-up" name="icon10"></wm-icon> 
                                <wm-label marginunit="em" marginleft=".2" marginright=".2" caption="2.8%" marginbottom="0" class="h5" name="label55"></wm-label> 
                            </wm-container> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow8" paddingleft=".5" paddingright=".5" paddingunit="em" paddingbottom="0" paddingtop="0"> 
                    <wm-gridcolumn columnwidth="8" name="gridcolumn13_1" paddingleft=".5" paddingright=".5" paddingunit="em" horizontalalign="left" paddingtop=".5" paddingbottom=".5"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel5" title="Quote Growth (in USD)" paddingtop="1" paddingleft="1" paddingright="1" paddingbottom="1.5" paddingunit="em" bordertop="0" borderleft="0" borderright="0" borderbottom="0" borderunit="em" horizontalalign="center" margintop="0" marginleft="0" marginright="0" marginbottom="0" marginunit="em"> 
                            <wm-chart type="Line" name="chart1" yaxislabeldistance="1" xaxislabel="null" yaxislabel="null" showlegend="false" xdigits="1" marginunit="em" theme="Terrestrial"></wm-chart> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn14" paddingleft=".5" paddingright=".5" paddingunit="em" horizontalalign="left" paddingtop=".5" paddingbottom=".5"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel4_1" title="Top Scanned Models" paddingtop="1" paddingleft="1" paddingright="1" paddingbottom="1" paddingunit="em" bordertop="0" borderleft="0" borderright="0" borderbottom="0" borderunit="em" margintop="0" marginleft="0" marginright="0" marginunit="em"> 
                            <wm-chart yaxisdatakey="dataValue" xaxisdatakey="name" dataset="bind:Variables.modelsVariable.dataSet" type="Pie" name="modelschart" showlegend="true" donutratio="0.5" theme="Azure"></wm-chart> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow6" paddingunit="em"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn16" paddingleft=".5" paddingright=".5" paddingunit="em" paddingtop=".5" paddingbottom=".5"> 
                        <wm-panel paddingunit="em" backgroundcolor="#fff" paddingbottom="0" paddingright="0" paddingleft="0" title="Customer Feedback" show="true" class="panel-default" collapsible="false" showheader="true" bordertop="0" borderleft="0" borderright="0" borderbottom="0" borderunit="em" marginunit="em" paddingtop="0" name="panel6"> 
                            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" name="livelist2" dataset="1, 2, 3, 4, 5"> 
                                <wm-listtemplate layout="media" name="listtemplate2"> 
                                    <wm-layoutgrid name="layoutgrid8" marginleft="0" marginright="0"> 
                                        <wm-gridrow name="gridrow14" paddingbottom="1" paddingunit="em"> 
                                            <wm-gridcolumn columnwidth="12" name="gridcolumn32" horizontalalign="center" paddingtop="1" paddingunit="em" class="col-xs-9"> 
                                                <wm-container name="container12" class="popover inline right" width="90%" marginleft="1" marginunit="em"> 
                                                    <wm-container name="container13" class="arrow"></wm-container> 
                                                    <wm-label name="label28_1" class="popover-title" width="100%" caption="John Doe"></wm-label> 
                                                    <wm-container name="container14" class="popover-content"> 
                                                        <wm-label name="label29" caption="All Good"></wm-label> 
                                                    </wm-container> 
                                                </wm-container> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-livelist> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn17" paddingleft=".5" paddingright=".5" paddingunit="em" paddingbottom=".5" paddingtop=".5"> 
                        <wm-panel backgroundcolor="#fff" paddingbottom="0" title="Today's Schedule" show="true" class="panel-default" collapsible="false" showheader="true" bordertop="0" borderleft="0" borderright="0" borderbottom="0" borderunit="em" paddingunit="em" horizontalalign="center" paddingtop="2" paddingleft="0" paddingright="0" marginunit="em" name="panel6_1"> 
                            <wm-calendar bordertop="0" borderright="0" borderleft="0" borderbottom="0" borderunit="em" name="calendar2" margintop="1" marginleft="1" marginbottom="1" marginright="1" marginunit="em"></wm-calendar> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="5" name="gridcolumn18" paddingleft=".5" paddingright=".5" paddingunit="em" paddingbottom=".5" paddingtop=".5"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" title="Top Sales Person" marginbottom="0" bordertop="0" borderleft="0" borderright="0" borderbottom="0" paddingtop="1" paddingleft="1" paddingright="1" paddingbottom="1" paddingunit="em" name="panel8"> 
                            <wm-grid readonlygrid="true" insertrow="false" updaterow="false" deleterow="false" shownavigation="false" height="225px" name="grid2" class="panel-default"> 
                                <wm-grid-column caption="Name" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                                <wm-grid-column caption="Top Customers" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                                <wm-grid-column caption="Revenue" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            </wm-grid> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer" name="footer1"></wm-footer> 
</wm-page>