<wm-partial name="partial1" data-ng-controller="FeaturesPopoverPageController" type="popover"> 
    <wm-tree nodelabel="SAFETY" dataset="bind:Variables.featuresVariable.dataSet" treeicons="plus-minus" name="tree1"></wm-tree> 
</wm-partial>