.pink {
    background-color: #F8E0E0;
}
.deeppink {
    background-color: #FF1493;
    color:#696969;
}
.maroon{
    background-color: #800000;
    color:#696969;
}
.blue {
    background-color: #CEF6F5;
}
.green {
    background-color: #D8F6CE;
}
.grey {
    background-color: #D3D3D3;
}
.white {
    background-color: #FFFFFF;
}
.silver
{
    background-color: #C0C0C0;
}
.yellow
{
    background-color: #FFFACD;
}
.gold
{
    background-color: #FFD700;
}