<wm-page data-ng-controller="InventoryPageController" pagetitle="Inventory" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-anchor margin="unset 0.5em" name="anchor1" iconclass="fa fa-facebook-official" caption="Power Editor" hyperlink="https://www.facebook.com/ads/manage/powereditor?tool=PAGES&amp;nav_source=mega_menu" target="_blank"></wm-anchor>
            <wm-layoutgrid name="layoutgrid1" columns="2">
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn colwidth="6" name="gridcolumn10" columnwidth="9" height="1400" readonlygrid="true">
                        <wm-panel iconclass="glyphicon glyphicon-list-alt" class="panel-primary" name="panelInventory" title="bind:'Inventory For Channel ' + Variables.MonzaChannelsData.firstRecord.name" collapsible="true" enablefullscreen="true" helptext="<div ><p><a href=&quot;https://youtu.be/mYl6-PGxrpA&quot; target=&quot;_blank&quot;>Help Video</a></p></div>"
                        datafield="All Fields" itemlabel="label" itemicon="icon" expanded="true">
                            <wm-layoutgrid name="layoutgrid5">
                                <wm-gridrow name="gridrow16">
                                    <wm-gridcolumn horizontalalign="left" columnwidth="3" name="gridcolumn38" padding="unset 5px unset unset">
                                        <wm-composite name="composite1">
                                            <wm-label class="col-md-3 control-label" name="label19" caption="Channel"></wm-label>
                                            <wm-container class="col-md-9" name="container1">
                                                <wm-select name="selectChannel" dataset="bind:Variables.ChannelsLiveVariableData.dataSet" datafield="channelId" displayfield="name" datavalue="1"></wm-select>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn horizontalalign="left" name="gridcolumn26" columnwidth="5">
                                        <wm-buttongroup name="buttongroup2">
                                            <wm-button accessroles="admin,manager" showindevice="md,lg" on-click="Widgets.repriceAllDialog.open()" name="button3_1" class="btn-default btn-primary" caption="Reprice All" iconclass="wi wi-monetization-on"></wm-button>
                                        </wm-buttongroup>
                                        <wm-button class="blue btn-primary" caption="Inventory Report" type="button" name="buttonReport" on-click="Variables.goToPage_InventoryReport.invoke()" iconclass="wi wi-publish"></wm-button>
                                        <wm-button class="btn-default btn-primary" caption="Email" type="button" name="button13_1" iconclass="wi wi-mail-outline" on-click="Widgets.emailDialog.open()"></wm-button>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn27" columnwidth="3">
                                        <wm-buttongroup name="buttongroup2">
                                            <wm-button showindevice="md,lg" accessroles="admin,manager" name="button4" class="green" caption="Release" on-click="Widgets.confirmReleaseDialog.open()" iconclass="wi wi-new-releases"></wm-button>
                                            <wm-button showindevice="md,lg" accessroles="admin,manager" name="button5" class="yellow" caption="In Prep" on-click="Widgets.confirmInPrepDialog.open()" iconclass="fa fa-anchor"></wm-button>
                                        </wm-buttongroup>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn27" columnwidth="1">
                                        <wm-buttongroup name="buttongroup2">
                                            <wm-button showindevice="md,lg" accessroles="Everyone" name="refreshButton" class="blue" caption="Refresh" on-click="refreshButtonClick($event, $scope)" iconclass="wi wi-refresh"></wm-button>
                                        </wm-buttongroup>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-grid title="" dataset="bind:Variables.InventoryMakeModelInvoke.dataSet.inventory" navigation="Basic" name="gridModels" spacing="condensed" filtermode="multicolumn" gridclass="table-bordered table-hover">
                                <wm-grid-column binding="make" caption="Make" type="string" edit-widget-type="text" show="true" filterwidget="select" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="model" caption="Model" type="string" edit-widget-type="text" show="true" filterwidget="select" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="size" caption="Number In Stock" type="string" edit-widget-type="text" show="true" filterwidget="number" readonly="false"></wm-grid-column>
                            </wm-grid>
                            <wm-grid margin="20px unset unset unset" spacing="condensed" on-rowdblclick="inventoryGridRowdblclick($event, $data);Widgets.detailPageDialog.open()" gridfirstrowselect="true" on-select="inventoryGridSelect($event, $data)"
                            dataset="bind:Variables.InventorySearchInvoke.dataSet.inventory" name="inventoryGrid" height="700" showrecordcount="true" pagesize="30" nodatamessage="No data found..." class="panel-default" navigation="Basic" filtermode="multicolumn"
                            title="bind:Widgets.gridModels.selecteditem.make + ' ' + Widgets.gridModels.selecteditem.model" gridclass="table-bordered table-hover">
                                <wm-grid-column binding="stock" caption="Stock" type="string" textalignment="right" readonly="true" edit-widget-type="text" show="true" filterwidget="number"></wm-grid-column>
                                <wm-grid-column binding="vin" caption="VIN" type="string" width="150px" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="pricestate" caption="State" type="string" textalignment="right" readonly="true" col-ng-class="{'yellow':row.pricestate == 'In Prep', 'green':row.pricestate == 'Released', 'pink':row.pricestate == 'Disabled', 'grey':row.pricestate == 'In Transit', 'gold':row.pricestate == 'Sold'}"
                                mobiledisplay="false" edit-widget-type="text" show="true" filterwidget="select"></wm-grid-column>
                                <wm-grid-column binding="year" caption="Year" type="integer" textalignment="right" readonly="true" edit-widget-type="text" show="true" filterwidget="select"></wm-grid-column>
                                <wm-grid-column binding="model" caption="Model" type="string" mobiledisplay="false" edit-widget-type="text" show="true" filterwidget="select" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="extcolor" caption="Color" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="daysinstock" caption="Days in Stock" type="integer" textalignment="right" readonly="true" col-ng-class="{'pink':row.daysinstock >= 60 &amp;&amp;  row.daysinstock < 120, 'green':row.daysinstock < 60, 'maroon':row.daysinstock >=200, 'deeppink':row.daysinstock >= 120  &amp;&amp; row.daysinstock < 200}"
                                edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="locked" caption="Locked" type="boolean" widget-type="button" textalignment="center" readonly="true" mobiledisplay="false" edit-widget-type="checkbox" show="true">
                                    <wm-button caption="{{row.getProperty('locked') ? 'Unlock' : 'Lock'}}" show="true" class="btn-sm btn-primary" iconclass="{{row.getProperty('locked') ? 'wi wi-lock-outline' : 'wi wi-lock-open'}}" on-click="lockedAction(selectedItemData)"
                                    data-ng-class=""></wm-button>
                                </wm-grid-column>
                                <wm-grid-column binding="valid" caption="Valid Until" type="date" textalignment="right" readonly="true" col-ng-class="{'maroon':row.expired}" datepattern="yyyy-MM-dd" formatpattern="toDate" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="expiresin" caption="Expires In" type="integer" textalignment="right" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="saleprice" caption="Sale Price" type="float" textalignment="right" readonly="true" col-ng-class="{'deeppink':row.saleprice > row.sellingprice}" formatpattern="toCurrency" currencypattern="$"
                                edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="sellingprice" caption="Public Selling Price" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="$" mobiledisplay="false" edit-widget-type="text"
                                show="true"></wm-grid-column>
                                <wm-grid-column binding="msrp" caption="MSRP" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="$" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="invoice" caption="Invoice" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="$" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="balance" caption="Balance" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="$" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="interest" caption="Interest" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="$" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                            </wm-grid>
                        </wm-panel>
                    </wm-gridcolumn>
                    <wm-gridcolumn colwidth="6" name="gridcolumn11" columnwidth="3" height="1200" readonlygrid="true">
                        <wm-panel showindevice="md,lg" accessroles="manager,admin" iconclass="glyphicon glyphicon-usd" expanded="true" class="panel-primary" name="panelPrice" title="uQuote Price" collapsible="true" enablefullscreen="false">
                            <wm-form name="formPrice" method="get" class="panel-primary" captionposition="top" enctype="application/x-www-form-urlencoded" dataset="bind:Variables.DealerPriceUpsertInvoke.dataSet">
                                <wm-layoutgrid name="layoutgrid3">
                                    <wm-gridrow class="grey" name="gridrow4">
                                        <wm-gridcolumn name="gridcolumn0" columnwidth="12">
                                            <wm-layoutgrid class="condensed" name="layoutgrid4">
                                                <wm-gridrow name="gridrow9_12">
                                                    <wm-gridcolumn name="gridcolumn122" columnwidth="6">
                                                        <wm-label fontweight="bold" caption="MSRP" name="label41"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn13" columnwidth="6">
                                                        <wm-label caption="bind:Widgets.inventoryGrid.selecteditem.msrp | toCurrency: '$'" horizontalalign="right" name="label5"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow9_1">
                                                    <wm-gridcolumn name="gridcolumn121" columnwidth="6">
                                                        <wm-label fontweight="bold" caption="Invoice" name="label41"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn13" columnwidth="6">
                                                        <wm-label caption="bind:Widgets.inventoryGrid.selecteditem.invoice | toCurrency: '$'" horizontalalign="right" name="label5"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow9_13">
                                                    <wm-gridcolumn name="gridcolumn123" columnwidth="6">
                                                        <wm-label fontweight="bold" caption="Balance" name="label41"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn13" columnwidth="6">
                                                        <wm-label caption="bind:Widgets.inventoryGrid.selecteditem.balance | toCurrency: '$'" horizontalalign="right" name="label5"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow9_11">
                                                    <wm-gridcolumn name="gridcolumn12" columnwidth="6">
                                                        <wm-label fontweight="bold" caption="Dealer Cash" name="label4"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn13" columnwidth="6">
                                                        <wm-label caption="bind:Variables.dealerRebateVariable.dataSet[$i].rebate | toCurrency: '$'" horizontalalign="right" name="dealerRebate"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow10_1">
                                                    <wm-gridcolumn name="gridcolumn15" columnwidth="6">
                                                        <wm-label fontweight="bold" caption="Interest" name="label6"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn16" columnwidth="6">
                                                        <wm-label caption="bind:Widgets.inventoryGrid.selecteditem.interest | toCurrency: '$'" name="label7"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow11_1">
                                                    <wm-gridcolumn name="gridcolumn18" columnwidth="6">
                                                        <wm-label fontweight="bold" caption="Sale Price" name="label6"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn19" columnwidth="6">
                                                        <wm-label borderstyle="none" caption="bind:Variables.netPriceVariable.dataSet.dataValue | toCurrency: '$'" name="netPrice"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow class="deeppink" name="profitGridrow">
                                                    <wm-gridcolumn name="gridcolumn181" columnwidth="6">
                                                        <wm-label fontweight="bold" caption="Gross Profit/Loss" name="label61"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="profitgridcolumn" columnwidth="6">
                                                        <wm-label borderstyle="none" caption="bind:Widgets.inventoryGrid.selecteditem.uquoteprice - Widgets.inventoryGrid.selecteditem.invoice + Widgets.inventoryGrid.selecteditem.dealercash | toCurrency: '$'"
                                                        name="profit"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow11_3">
                                                    <wm-gridcolumn name="gridcolumn182" columnwidth="6">
                                                        <wm-label fontweight="bold" caption="Consumer Rebate" name="label6"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn192" columnwidth="6">
                                                        <wm-label caption="bind:Variables.consumerRebateVariable.dataSet.ConsumerIncentives[$i].CashDealScenarios.ConsumerCash.TotalConsumerCash | toCurrency: '$'" name="consumerRebate"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow class="silver" name="gridrow11_4">
                                                    <wm-gridcolumn name="gridcolumn183" columnwidth="6">
                                                        <wm-label fontweight="bold" caption="Net Price" name="label6"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn193" columnwidth="6">
                                                        <wm-label borderstyle="solid" caption="bind:Variables.netPriceVariable.dataSet.dataValue - Variables.consumerRebateVariable.dataSet.ConsumerIncentives[$i].CashDealScenarios.ConsumerCash.TotalConsumerCash  | toCurrency: '$'"
                                                        name="uQuotePrice"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <!--wm-gridrow name="gridrow11_5"><wm-gridcolumn name="gridcolumn183" columnwidth="6"><wm-label fontweight="bold" caption="Finance Discount" name="label61"></wm-label></wm-gridcolumn><wm-gridcolumn name="gridcolumn183" columnwidth="2"></wm-gridcolumn><wm-gridcolumn horizontalalign="right" name="gridcolumn193" columnwidth="4"><wm-label borderstyle="none" caption="bind:Variables.dealerDiscountVariable.dataSet[$i].finance_discount | toCurrency: '$'" name="uQuotePrice"></wm-label></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow11_6"><wm-gridcolumn name="gridcolumn183" columnwidth="6"><wm-label fontweight="bold" caption="Trade In Discount" name="label62"></wm-label></wm-gridcolumn><wm-gridcolumn name="gridcolumn183" columnwidth="2"></wm-gridcolumn><wm-gridcolumn horizontalalign="right" name="gridcolumn193" columnwidth="4"><wm-label borderstyle="none" caption="bind:Variables.dealerDiscountVariable.dataSet[$i].tradein_discount | toCurrency: '$'" name="uQuotePrice"></wm-label></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow11_7"><wm-gridcolumn name="gridcolumn183" columnwidth="6"><wm-label fontweight="bold" caption="Local Discount" name="label63"></wm-label></wm-gridcolumn><wm-gridcolumn name="gridcolumn183" columnwidth="2"></wm-gridcolumn><wm-gridcolumn horizontalalign="right" name="gridcolumn193" columnwidth="4"><wm-label borderstyle="none" caption="bind:Variables.dealerDiscountVariable.dataSet[$i].local_discount  | toCurrency: '$'" name="uQuotePrice"></wm-label></wm-gridcolumn></wm-gridrow--></wm-layoutgrid>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow4">
                                        <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                                            <wm-form-field on-change="priceChange($event, $scope)" placeholder="Enter New Sale Price" readonly="false" isupdatemode="true" name="price" displayname="New Sale  Price" target="price" type="double" show="true"
                                            widget="currency"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow5">
                                        <wm-gridcolumn name="gridcolumn5" columnwidth="6">
                                            <wm-form-field defaultvalue="48" placeholder="How many hours is price good for" readonly="false" isupdatemode="true" name="expiresin" displayname="Expires In" target="expiresin" type="integer" show="true" widget="number"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn name="gridcolumn6" columnwidth="6">
                                            <wm-form-field placeholder="Select until price is valid" inputtype="date" readonly="false" isupdatemode="true" name="expiration" displayname="Valid Till" target="expiration" type="date" show="true" widget="date"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow7">
                                        <wm-gridcolumn horizontalalign="left" name="gridcolumn8" columnwidth="6">
                                            <!--wm-form-field defaultvalue="0" uncheckedvalue="0" checkedvalue="1" placeholder="Remove from uQuote offer" readonly="false" isupdatemode="true" name="state" displayname="Disable from uQuote" target="state" type="integer" show="true" widget="checkbox"></wm-form-field-->
                                            <wm-form-field displayname="State" widget="select" show="true" type="integer" target="state" name="form_field6" dataset="bind:Variables.inventoryStateVariable.dataSet" datafield="dataValue" displayfield="name"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn horizontalalign="center" name="gridcolumn7" columnwidth="6">
                                            <wm-form-field defaultvalue="1" uncheckedvalue="0" checkedvalue="1" placeholder="Lock Price for Bulk Repricing" readonly="false" isupdatemode="true" name="locked" displayname="Lock Price" target="locked" type="boolean"
                                            show="true" widget="checkbox"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-buttongroup name="buttongroup1" horizontalalign="right" class="form-action col-md-12">
                                    <wm-button name="button1" caption="Reset" type="reset" class="btn-secondary"></wm-button>
                                    <wm-button name="button3" caption="Save" type="submit" class="btn-primary"></wm-button>
                                </wm-buttongroup>
                            </wm-form>
                            <wm-form captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="put" captionalign="left" name="form3_1" backgroundcolor="#C0C0C0" dataset="bind:Variables.MonzaExecuteSetPriceDiscounts.dataSet">
                                <wm-layoutgrid columns="2" name="layoutgrid6">
                                    <wm-gridrow name="gridrow21">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn44">
                                            <wm-form-field readonly="bind:Widgets.inventoryGrid.selecteditem.finance === 0" name="financeDiscount" displayname="Finance Discount" target="financeDiscount" type="integer" show="true" widget="currency" defaultvalue="bind:Widgets.inventoryGrid.selecteditem.financediscount"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn41_1">
                                            <wm-form-field readonly="false" name="finance" displayname="State" target="finance" type="integer" show="true" widget="select" dataset="bind:Variables.discountStateVariable.dataSet" datafield="dataValue" displayfield="name"
                                            defaultvalue="bind:Widgets.inventoryGrid.selecteditem.finance" on-change="financeChange($event, $scope)"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow23">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn45">
                                            <wm-form-field readonly="bind:Widgets.inventoryGrid.selecteditem.tradein === 0" name="tradeinDiscount" displayname="Trade In Discount" target="tradeinDiscount" type="integer" show="true" widget="currency" defaultvalue="bind:Widgets.inventoryGrid.selecteditem.tradeindiscount"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn42">
                                            <wm-form-field readonly="false" name="tradein" displayname="State" target="tradein" type="integer" show="true" widget="select" dataset="bind:Variables.discountStateVariable.dataSet" datafield="dataValue" displayfield="name"
                                            defaultvalue="bind:Widgets.inventoryGrid.selecteditem.tradein" on-change="tradeinChange($event, $scope)"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow22_1">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn43_1">
                                            <wm-form-field readonly="false" name="location" displayname="Location State" target="location" type="integer" show="true" widget="select" dataset="bind:Variables.discountStateVariable.dataSet" datafield="dataValue"
                                            displayfield="name" defaultvalue="bind:Widgets.inventoryGrid.selecteditem.location"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow24_1">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn48">
                                            <wm-form-field readonly="false" name="vin" displayname="vin" target="vin" type="string" show="false" widget="text" defaultvalue="bind:Widgets.inventoryGrid.selecteditem.vin"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup6">
                                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button11"></wm-button>
                                    <wm-button caption="Save" type="submit" class="btn-primary" name="button13"></wm-button>
                                </wm-buttongroup>
                            </wm-form>
                        </wm-panel>
                        <!--wm-panel showindevice="md,lg" expanded="true" iconclass="wi wi-details" class="panel-primary" name="panelDetail" title="Details" collapsible="true" enablefullscreen="false" show="false"><wm-form class="panel-primary" name="form"><wm-layoutgrid name="layoutgrid6"><wm-gridrow name="gridrow9"><wm-gridcolumn name="gridcolumn32"><wm-composite name="composite5"><wm-label class="col-md-3" caption="VIN" name="labelVIN"></wm-label><wm-container class="col-md-9" name="container7"><wm-text tabindex="1" placeholder="VIN Code" name="text2" datavalue="bind:Widgets.inventoryGrid.selecteditem.vin" readonly="true"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow10"><wm-gridcolumn name="gridcolumn33"><wm-composite name="composite6"><wm-label class="col-md-3" caption="Interior" name="label30"></wm-label><wm-container class="col-md-9" name="container8"><wm-text tabindex="1" placeholder="Int Color" name="text2" datavalue="bind:Widgets.inventoryGrid.selecteditem.intcolor" readonly="true"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow11"><wm-gridcolumn name="gridcolumn34"><wm-composite horizontalalign="left" name="composite7"><wm-label class="col-md-3" caption="Options" name="label31"></wm-label><wm-container class="col-md-9" name="container9"><wm-textarea tabindex="4" placeholder="Enter Description" name="textarea3" readonly="true" datavalue="bind:Widgets.inventoryGrid.selecteditem.options" height="150"></wm-textarea></wm-container></wm-composite></wm-gridcolumn></wm-gridrow></wm-layoutgrid></wm-form></wm-panel-->
                        <wm-panel name="panel5" title="Change Item State" collapsible="true">
                            <wm-form captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="put" captionalign="left" name="form3" dataset="bind:Variables.MonzaExecuteSetPriceState.dataSet">
                                <wm-layoutgrid columns="1" name="layoutgrid6_1">
                                    <wm-gridrow name="gridrow24">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn43">
                                            <wm-form-field readonly="true" name="vin" displayname="vin" target="vin" type="string" show="true" widget="text" defaultvalue="bind:Widgets.inventoryGrid.selecteditem.vin"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow22">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn41">
                                            <wm-form-field readonly="false" name="state" displayname="state" target="state" type="integer" show="true" widget="select" dataset="bind:Variables.inventoryStateVariable.dataSet" datafield="dataValue" displayfield="name"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <!--wm-gridrow name="gridrow23"><wm-gridcolumn columnwidth="12" name="gridcolumn42"><wm-form-field readonly="false" name="dealerId" displayname="dealerId" target="dealerId" type="integer" show="true" widget="number"></wm-form-field></wm-gridcolumn></wm-gridrow--></wm-layoutgrid>
                                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup4">
                                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button6" show="false"></wm-button>
                                    <wm-button caption="Cancel" type="button" class="btn-warning" name="button7" show="false"></wm-button>
                                    <wm-button caption="Save" type="submit" class="btn-primary" name="button8"></wm-button>
                                </wm-buttongroup>
                            </wm-form>
                        </wm-panel>
                        <wm-panel show="true" showindevice="md,lg" iconclass="glyphicon glyphicon-picture" expanded="false" class="panel-primary" name="panelImages" title="Images" collapsible="true" enablefullscreen="true">
                            <wm-carousel type="dynamic" name="carousel1" dataset="bind:Widgets.inventoryGrid.selecteditem.imagelist">
                                <wm-carousel-template horizontalalign="center" name="carousel_template1">
                                    <wm-picture width="100%" name="picture2" picturesource="{{item}}" shape="rounded"></wm-picture>
                                </wm-carousel-template>
                            </wm-carousel>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view name="view1" class="dialog-view">
        <wm-pagedialog content="RepriceAll" oktext="Close" title="bind:'Reprice Vehicles For Channel ' + Variables.MonzaChannelsData.firstRecord.name" name="repriceAllDialog" width="1000"></wm-pagedialog>
    </wm-view>
    <wm-view name="view2" class="dialog-view">
        <wm-pagedialog content="VehicleDetail" oktext="Close" title="Vehicle Detail" height="600" width="1000" name="detailPageDialog"></wm-pagedialog>
    </wm-view>
    <wm-view class="dialog-view" name="view3">
        <wm-confirmdialog name="confirmReleaseDialog" title="Confirm Release Prices" message="Do you want to release all prices from state In Prep?" on-ok="confirmReleaseDialogOk($event, $scope);Widgets.confirmReleaseDialog.close()" on-cancel="Widgets.confirmReleaseDialog.close()"></wm-confirmdialog>
    </wm-view>
    <wm-view class="dialog-view" name="view4">
        <wm-confirmdialog name="confirmInPrepDialog" title="Confirm In Prep" message="Do you want to place all released prices In Prep?" on-cancel="Widgets.confirmInPrepDialog.close()" on-ok="confirmOnHoldDialogOk($event, $scope);Widgets.confirmInPrepDialog.close()"></wm-confirmdialog>
    </wm-view>
    <wm-view class="dialog-view" name="view5">
        <wm-pagedialog name="emailDialog" title="Email Inventory Snapshot" iconclass="wi wi-mail-outline" oktext="Close" content="InventoryEmail"></wm-pagedialog>
    </wm-view>
    <wm-view class="dialog-view" name="view6">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:Widgets.inventoryGrid.selecteditem.year + ' ' + Widgets.inventoryGrid.selecteditem.make + ' ' + Widgets.inventoryGrid.selecteditem.model + ' ' + Widgets.inventoryGrid.selecteditem.trim"
        iconclass="fa fa-car" name="dealConfirmDialog">
            <wm-form errormessage="" captionposition="top" class="app-dialog-form" name="form4">
                <wm-composite name="composite2">
                    <wm-layoutgrid name="layoutgrid8">
                        <wm-gridrow name="gridrow24_2">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn43_2">
                                <wm-label class="col-md-3 control-label" caption="Deal Expiration" name="label20"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn44_1" horizontalalign="right">
                                <wm-date name="dateExpiration" widget="date" show="true" type="custom" key="dateExpiration" placeholder="Select date" datavalue="CURRENT_DATE"></wm-date>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow25">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn45_1">
                                <wm-label class="col-md-3 control-label" name="label190" caption="Publish Now"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn46" horizontalalign="right">
                                <wm-container class="col-md-9" name="container1">
                                    <wm-checkbox name="publishNowCheckbox" defaultvalue="1" checkedvalue="1" uncheckedvalue="0" datavalue="1"></wm-checkbox>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow25">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn45_1">
                                <wm-label class="col-md-3 control-label" name="label190" caption="US Market"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn46" horizontalalign="right">
                                <wm-container class="col-md-9" name="container1">
                                    <wm-select name="usMarketSelect" dataset="bind:Variables.USMarketsData.dataSet" datafield="marketCode" displayfield="name" datavalue="0"></wm-select>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow26">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn45_2">
                                <wm-label class="col-md-3 control-label" name="label190" caption="Feed Display Type"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn46_2" horizontalalign="right">
                                <wm-container class="col-md-9" name="container1">
                                    <wm-select name="fbFeedTypeSelect" dataset="bind:Variables.fbFeedType.dataSet" datafield="dataValue" displayfield="name" datavalue="0"></wm-select>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-composite>
            </wm-form>
            <wm-layoutgrid name="layoutgrid7">
                <wm-gridrow name="gridrow22_2">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn39">
                        <wm-label padding="unset 0.5em" name="label21" caption="Sale Price"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn39_2" horizontalalign="right">
                        <wm-label padding="unset 0.5em" name="label21" caption="bind:Widgets.inventoryGrid.selecteditem.saleprice  | toCurrency: '$'"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow23_1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn41_2">
                        <wm-label padding="unset 0.5em" name="label24" caption="Stock number"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn39" horizontalalign="right">
                        <wm-label padding="unset 0.5em" name="label21" caption="bind:Widgets.inventoryGrid.selecteditem.stock"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-carousel height="480" type="dynamic" name="publishFBCarousel" dataset="bind:Widgets.inventoryGrid.selecteditem.imagelist" animationinterval="0">
                <wm-carousel-template horizontalalign="center" name="carousel_template2">
                    <wm-picture width="100%" name="picture5" picturesource="{{item}}" pictureaspect="H" shape="rounded"></wm-picture>
                </wm-carousel-template>
            </wm-carousel>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button14"></wm-button>
                <wm-button class="btn-primary" caption="Publish to Facebook" name="button15" iconclass="fa fa-facebook-official" on-click="Variables.CreateInventoryDealInvoke.invoke();Widgets.dealConfirmDialog.close()"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>