<wm-page data-ng-controller="QuotesPageController" pagetitle="Quotes" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav> 
    <wm-content name="content1"> 
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel> 
        <wm-page-content columnwidth="10" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn columnwidth="8" name="gridcolumn1"> 
                        <wm-grid readonlygrid="true" dataset="bind:Variables.DealerQuoteRequestsInvoke.dataSet.requests" name="gridQuoteRequests" gridfirstrowselect="true" gridsearch="true" class="panel-default"> 
                            <wm-grid-column binding="make" caption="Make" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="model" caption="Model" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="year" caption="Year" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="color" caption="Color" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="msrp" caption="Msrp" type="string" readonly="true" formatpattern="toCurrency" currencypattern="$" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="state" caption="State" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="created" caption="Created" type="string" readonly="true" datepattern="dd-MMMM-yy hh:mm" formatpattern="toDate" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                        </wm-grid> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn2"></wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow2"> 
                    <wm-gridcolumn columnwidth="8" name="gridcolumn4" readonlygrid="true"> 
                        <wm-grid readonlygrid="true" dataset="bind:Variables.MatchQuoteRequestInvoke.dataSet" name="grid2" class="panel-default"> 
                            <wm-grid-column binding="stock" caption="Stock" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="make" caption="Make" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="model" caption="Model" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="year" caption="Year" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="dateinstock" caption="Date in Stock" type="string" readonly="true" datepattern="dd-MMMM-yy" formatpattern="toDate" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="extcolor" caption="Color" type="string" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="msrp" caption="MSRP" type="string" readonly="true" formatpattern="toCurrency" currencypattern="$" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="sellingprice" caption="Selling Price" type="string" readonly="true" formatpattern="toCurrency" currencypattern="$" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            <wm-grid-column binding="uquoteprice" caption="uQuote Price" type="string" readonly="true" formatpattern="toCurrency" currencypattern="$" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                        </wm-grid> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn5"> 
                        <wm-prefab prefabname="googlemaps" name="quotesGoogleMap" zoom="9" locations="bind:Variables.QuoteRequestsMapDataInvoke.dataSet.requests" lat="lat" lng="lon" icon="icon" info="info"></wm-prefab> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer" name="footer1"></wm-footer> 
</wm-page>