<wm-page data-ng-controller="LeadsScansPageController" pagetitle="Leads Scans" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="8" name="gridcolumn1" readonlygrid="true">
                        <wm-panel show="true" class="panel-primary" name="leadPanel" title="Browsed &amp; Scanned Vehicle" enablefullscreen="true" iconclass="glyphicon glyphicon-user" expanded="true" collapsible="true" accessroles="Authenticated">
                            <wm-layoutgrid name="layoutgrid2">
                                <wm-gridrow name="gridrow11">
                                    <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                                        <wm-composite name="composite1">
                                            <wm-layoutgrid name="layoutgrid4">
                                                <wm-gridrow name="gridrow41">
                                                    <wm-gridcolumn name="gridcolumn411" columnwidth="8">
                                                        <wm-label width="700" class="col-md-3 control-label h2 h3" name="vehicle" caption="Vehicle"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn412" columnwidth="4">
                                                        <wm-label height="25" width="230" caption="Vin" name="labelVin" class="col-md-3 control-label"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow42">
                                                    <wm-gridcolumn name="gridcolumn421" columnwidth="8">
                                                        <wm-container height="25" width="230" horizontalalign="left" name="container81" class="col-md-9">
                                                            <wm-anchor target="_blank" iconclass="glyphicon glyphicon-modal-window" caption="Window Sticker" name="anchorSticker"></wm-anchor>
                                                        </wm-container>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn horizontalalign="right" name="gridcolumn422" columnwidth="4">
                                                        <wm-container height="25" width="230" horizontalalign="right" name="container8" class="col-md-9">
                                                            <wm-popover iconclass="glyphicon glyphicon-home" content="DealerPopover" caption="Dealer" name="popoverDealer" popoverwidth="200" popoverheight="100"></wm-popover>
                                                        </wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow2">
                                    <wm-gridcolumn name="gridcolumn3" columnwidth="6">
                                        <wm-composite name="composite5">
                                            <wm-container class="col-md-9" name="container5">
                                                <wm-popover content="ColorPopover" iconclass="wi wi-color-lens" caption="Color" name="popoverColor" popoverwidth="100" popoverheight="100"></wm-popover>
                                            </wm-container>
                                        </wm-composite>
                                        <wm-composite name="composite7">
                                            <wm-container class="col-md-9" name="container7">
                                                <wm-popover content="InteriorPopover" iconclass="wi wi-color-lens" caption="Interior" name="popoverInterior" popoverwidth="200" popoverheight="120"></wm-popover>
                                            </wm-container>
                                        </wm-composite>
                                        <wm-composite name="composite6">
                                            <wm-container class="col-md-9" name="container6">
                                                <wm-popover content="EnginePopover" iconclass="fa fa-cogs" caption="Engine" name="popoverEngine" popoverwidth="200" popoverheight="150"></wm-popover>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn name="gridcolumn4" columnwidth="6">
                                        <wm-layoutgrid name="layoutgrid5">
                                            <wm-gridrow name="gridrow52">
                                                <wm-gridcolumn name="gridcolumn5111" columnwidth="9">
                                                    <wm-composite name="compositeChannelLabel" horizontalalign="right">
                                                        <wm-label padding="unset 0.5em" name="label6_1" caption="Channel"></wm-label>
                                                    </wm-composite>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn name="gridcolumn5112" columnwidth="3" horizontalalign="right">
                                                    <wm-composite name="compositeChannel">
                                                        <wm-label padding="unset 0.5em" name="channelLabel" caption="uQuote"></wm-label>
                                                    </wm-composite>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow3">
                                    <wm-gridcolumn name="gridcolumn611" columnwidth="4">
                                        <wm-popover on-show="popover1Show($event, $scope)" caption="Standard Features" content="FeaturesPopover" name="popover1" popoverwidth="250" popoverheight="350"></wm-popover>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn name="gridcolumn612" columnwidth="4">
                                        <wm-popover content="OptionsPopover" caption="Options" name="popover6" popoverwidth="250" popoverheight="350"></wm-popover>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn name="gridcolumn613" columnwidth="4">
                                        <wm-composite name="composite6">
                                            <wm-label caption="MSRP" name="label6" class="col-md-3 control-label"></wm-label>
                                            <wm-container horizontalalign="right" name="container6" class="col-md-9">
                                                <wm-popover content="PricePopover" caption="bind:Variables.msrpVariable.dataSet.dataValue | toCurrency: '$': '2'" name="popoverMSRP" popoverwidth="200" popoverheight="150"></wm-popover>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="fbgridrow">
                                    <wm-gridcolumn name="gridcolumn612" columnwidth="112" horizontalalign="left">
                                        <wm-anchor margin="unset 0.5em" name="messageAnchor" caption="Message" hyperlink="bind:Variables.MonzaDealersData.dataSet.data[$i].fbPageUrl + '/messages'" target="_blank" iconclass="fa fa-facebook-official" show="true"></wm-anchor>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="usergridrow">
                                    <wm-gridcolumn name="gridcolumn611" columnwidth="12">
                                        <wm-grid title="" dataset="bind:Variables.UserLeadVariable.dataSet" navigation="None" name="gridUser" enablesort="false" showheader="true" gridfirstrowselect="true" spacing="condensed" on-rowdblclick="Widgets.userPageDialog.open()"
                                        gridclass="table-bordered table-hover">
                                            <wm-grid-column binding="rowOperations" caption="" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-grid-column>
                                            <wm-grid-column binding="profile_pic" caption="Profile Picture" type="string" widget-type="image" mobiledisplay="false" edit-widget-type="text" show="true" readonly="false">
                                                <wm-picture picturesource="{{row.getProperty('profile_pic')}}" hint="{{row.getProperty('profile_pic')}}" class="" data-ng-class=""></wm-picture>
                                            </wm-grid-column>
                                            <wm-grid-column binding="leadid" caption="Lead Id" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="firstname" caption="First Name" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="lastname" caption="Last Name" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="email" caption="Email" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="phone" caption="Phone" type="string" mobiledisplay="false" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="updated" caption="Updated" type="string" mobiledisplay="false" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="created" caption="Created" type="string" mobiledisplay="false" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                                            <wm-grid-row-action key="customRow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-message" title="Send Response" action="Widgets.userResponseDialog.open()" disabled="bind:Widgets.gridUser.selecteditem.fbmessengerid === null"></wm-grid-row-action>
                                        </wm-grid>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-panel>
                        <wm-panel class="panel-primary" name="scanPanel" collapsible="true" enablefullscreen="true" title="Vehicle Scans &amp; Browses" iconclass="glyphicon glyphicon-barcode" accessroles="Authenticated" expanded="true">
                            <wm-grid spacing="condensed" on-rowdblclick="gridScansRowdblclick($event, $data);Widgets.detailPageDialog.open()" dataset="bind:Variables.DealerScansInvoke.dataSet.scans" name="gridScans" height="400" pagesize="20" gridfirstrowselect="true"
                            on-select="gridScansSelect($event, $data)" class="panel-default" filtermode="multicolumn" gridclass="table-bordered table-hover">
                                <wm-grid-column binding="make" caption="Make" type="string" readonly="true" edit-widget-type="text" show="true" filterwidget="select"></wm-grid-column>
                                <wm-grid-column binding="model" caption="Model" type="string" readonly="true" edit-widget-type="text" show="true" filterwidget="select"></wm-grid-column>
                                <wm-grid-column binding="year" caption="Year" type="integer" textalignment="right" readonly="true" edit-widget-type="text" show="true" filterwidget="select"></wm-grid-column>
                                <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="zipcode" caption="Zipcode" type="string" textalignment="right" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="color" caption="Color" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="msrp" caption="MSRP" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="$" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="dealername" caption="Dealer Name" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="created" caption="Created" type="date" textalignment="right" readonly="true" datepattern="dd-MMMM-yy hh:mm" formatpattern="toDate" mobiledisplay="false" edit-widget-type="text"
                                show="true"></wm-grid-column>
                                <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                                <wm-grid-row-action key="customRow" display-name="Pin" show="true" class="btn-transparent" iconclass="wi wi-map-pin" title="Pin Vehicle" disabled="false"></wm-grid-row-action>
                            </wm-grid>
                        </wm-panel>
                        <wm-panel iconclass="fa fa-car" class="panel-primary" name="inventoryPanel" title="Inventory Match" enablefullscreen="true" expanded="true" collapsible="true" accessroles="admin,manager,user" show="false">
                            <wm-grid spacing="condensed" on-rowdblclick="gridInventoryMatchRowdblclick($event, $data);Widgets.detailPageDialog.open()" on-select="gridInventoryMatchSelect($event, $data)" dataset="bind:Variables.MatchQuoteRequestInvoke.dataSet"
                            name="gridInventoryMatch" class="panel-default">
                                <wm-grid-column binding="stock" caption="Stock" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="year" caption="Year" type="string" textalignment="right" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="make" caption="Make" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="model" caption="Model" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="extcolor" caption="Exterior Color" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="dateinstock" caption="Date in Stock" type="string" textalignment="right" readonly="true" datepattern="dd-MMMM-yy" formatpattern="toDate" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="msrp" caption="MSRP" type="string" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="sellingprice" caption="Public Price" type="string" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="text" show="true"></wm-grid-column>
                                <wm-grid-column binding="saleprice" caption="uQuote Sale Price" type="string" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="USD" mobiledisplay="false" edit-widget-type="text"
                                show="true"></wm-grid-column>
                                <wm-grid-column binding="netprice" caption="uQuote Net Price" type="string" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="USD" mobiledisplay="false" edit-widget-type="text"
                                show="true"></wm-grid-column>
                                <wm-grid-column binding="expiration" caption="Valid Until" type="string" textalignment="right" readonly="true" datepattern="dd-MMMM-yy hh:mmZ" formatpattern="toDate" mobiledisplay="false" edit-widget-type="text"
                                show="true"></wm-grid-column>
                                <wm-grid-action key="custom" display-name="Compare Vehicles" show="true" class="btn-primary" iconclass="wi wi-compare-arrows" title="Compare Vehicles" action="customAction($event);Widgets.CompareDialog.open()"
                                disabled="false" icon="wi wi-compare-arrows"></wm-grid-action>
                            </wm-grid>
                        </wm-panel>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn2">
                        <wm-panel class="panel-primary" name="imagePanel" title="Vehicle Image" enablefullscreen="true" collapsible="true" iconclass="glyphicon glyphicon-picture">
                            <wm-panel-footer name="panel_footer4">
                                <wm-popover popoverplacement="left" content="ImagesPopover" caption="More Images" name="popoverImages" popoverwidth="640" popoverheight="480"></wm-popover>
                            </wm-panel-footer>
                            <wm-picture name="picture1" pictureaspect="Both" shape="rounded" picturesource="bind:Variables.imageUrlVariable.dataSet.url" width="100%"></wm-picture>
                        </wm-panel>
                        <wm-panel expanded="true" class="panel-primary" name="mapPanel" collapsible="true" enablefullscreen="true" title="Vehicle Location" iconclass="glyphicon glyphicon-map-marker">
                            <wm-prefab prefabname="googlemaps" name="googleMapsScan" zoom="9" trafficlayer="false" locations="bind:Variables.mapDataVariable.dataSet" lat="lat" lng="lon" icon="icon" info="info"></wm-prefab>
                            <wm-panel-footer name="panel_footer1"></wm-panel-footer>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-view name="view1" class="dialog-view">
        <wm-pagedialog on-opened="CompareDialogOpened($event, $scope)" height="600" width="600" content="CompareVehicle" closable="true" oktext="Close" iconclass="wi wi-compare-arrows" title="Compare Vehicles" name="CompareDialog"></wm-pagedialog>
    </wm-view>
    <wm-view name="view2" class="dialog-view">
        <wm-pagedialog content="VehicleDetail" oktext="Close" title="Vehicle Detail" height="600" width="1000" name="detailPageDialog"></wm-pagedialog>
    </wm-view>
    <wm-view class="dialog-view" name="view3">
        <wm-pagedialog name="PinQuoteDialog" title="Pin To Scan" content="PinQuote"></wm-pagedialog>
    </wm-view>
    <wm-view class="dialog-view" name="view6">
        <wm-pagedialog name="userResponseDialog" title="bind:'Send Response to ' + Widgets.gridUser.selecteditem.name" content="SendResponse" width="1200" height="600">
            <wm-param name="userid" value="bind:Widgets.gridUser.selecteditem.userid" type="string"></wm-param>
        </wm-pagedialog>
    </wm-view>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>