<wm-partial name="partial1" data-ng-controller="PricePopoverPageController" type="popover"> 
    <wm-layoutgrid name="layoutgrid1"> 
        <wm-gridrow name="gridrow1"> 
            <wm-gridcolumn name="gridcolumn1" columnwidth="6"> 
                <wm-label caption="Invoice" name="label1"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn2" columnwidth="6"> 
                <wm-label caption="bind:Variables.VehiclePriceVariable.dataSet.dataValue.baseInvoice | toCurrency: '$': '2'" name="label5"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow2"> 
            <wm-gridcolumn name="gridcolumn4" columnwidth="6"> 
                <wm-label caption="Base MSRP" name="label2"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn5" columnwidth="6"> 
                <wm-label caption="bind:Variables.VehiclePriceVariable.dataSet.dataValue.baseMSRP | toCurrency: '$': '2'" name="label6"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn name="gridcolumn7" columnwidth="6"> 
                <wm-label caption="Delivery Charges" name="label3"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn8" columnwidth="6"> 
                <wm-label caption="bind:Variables.VehiclePriceVariable.dataSet.dataValue.deliveryCharges | toCurrency: '$': '2'" name="label7"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow5"> 
            <wm-gridcolumn name="gridcolumn7_2" columnwidth="6"> 
                <wm-label caption="Guzzler Tax" name="label6"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn8_2" columnwidth="6"> 
                <wm-label caption="bind:Variables.VehiclePriceVariable.dataSet.dataValue.guzzlerTax | toCurrency: '$': '2'" name="label9"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow4"> 
            <wm-gridcolumn name="gridcolumn7_1" columnwidth="6"> 
                <wm-label caption="Total MSRP" name="label4"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn8_1" columnwidth="6"> 
                <wm-label caption="bind:Variables.VehiclePriceVariable.dataSet.dataValue.msrp | toCurrency: '$': '2'" name="label8"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>