<wm-partial data-ng-controller="SendResponsePageController" name="partial1">
    <wm-form errormessage="" captionposition="top" title="" enctype="multipart/form-data" method="post" dataset="bind:Variables.SendMessageResponseInvoke.dataSet" captionalign="left" name="formSendText">
        <wm-layoutgrid columns="1" name="layoutgrid2">
            <wm-gridrow name="gridrow4">
                <wm-gridcolumn name="gridcolumn6">
                    <wm-composite name="composite1">
                        <wm-container class="col-md-9" name="container1">
                            <wm-text tabindex="1" placeholder="Type Message Here" name="text1"></wm-text>
                        </wm-container>
                    </wm-composite>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
        <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
            <wm-button caption="Reset" type="reset" class="btn-secondary" name="button1"></wm-button>
            <wm-button caption="Send" type="submit" class="btn-primary" name="button3"></wm-button>
        </wm-buttongroup>
    </wm-form>
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow0">
            <wm-gridcolumn columnwidth="12" name="gridcolumn1"></wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow1">
            <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                <wm-grid title="" dataset="bind:Variables.InventoryMakeModelInvoke.dataSet.inventory" navigation="Basic" name="modelGrid" spacing="condensed" filtermode="multicolumn" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-grid-column>
                    <wm-grid-column binding="make" caption="Make" type="string" readonly="true" show="true"></wm-grid-column>
                    <wm-grid-column binding="model" caption="Model" type="string" readonly="true" show="true"></wm-grid-column>
                    <wm-grid-column binding="size" caption="Size" type="integer" textalignment="right" readonly="true" show="true"></wm-grid-column>
                    <wm-grid-row-action key="customRow" display-name="Send" show="true" class="btn-transparent" iconclass="wi wi-message" title="Custom rowActions" action="customRowAction($event)" disabled="false"></wm-grid-row-action>
                </wm-grid>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                <wm-grid title="" dataset="bind:Variables.InventoryTrimInvoke.dataSet.inventory" navigation="Basic" name="trimGrid" filtermode="multicolumn" spacing="condensed" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-grid-column>
                    <wm-grid-column binding="image" caption="Image" type="string" widget-type="image" readonly="true" show="true">
                        <wm-picture picturesource="{{row.getProperty('image')}}" hint="{{row.getProperty('image')}}" class="" data-ng-class=""></wm-picture>
                    </wm-grid-column>
                    <wm-grid-column binding="trim" caption="Trim" type="string" readonly="true" show="true"></wm-grid-column>
                    <wm-grid-column binding="name" caption="Name" type="string" readonly="true" show="true"></wm-grid-column>
                    <wm-grid-column binding="msrp" caption="MSRP" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="USD" show="true"></wm-grid-column>
                    <wm-grid-column binding="size" caption="Size" type="integer" textalignment="right" readonly="true" show="true"></wm-grid-column>
                    <wm-grid-row-action key="customRow" display-name="Send" show="true" class="btn-transparent" iconclass="wi wi-message" title="Custom rowActions" action="customRowAction($event)" disabled="false"></wm-grid-row-action>
                </wm-grid>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow2">
            <wm-gridcolumn columnwidth="10" name="gridcolumn3">
                <wm-grid title="" dataset="bind:Variables.InventorySearchTrimInvoke.dataSet.inventory" navigation="Basic" name="vehicleGrid" spacing="condensed" gridfirstrowselect="true" filtermode="multicolumn" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-grid-column>
                    <wm-grid-column binding="stock" caption="Stock" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="pricestate" caption="Price State" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="year" caption="Year" type="integer" readonly="true" mobiledisplay="false" edit-widget-type="number" show="true"></wm-grid-column>
                    <wm-grid-column binding="daysinstock" caption="Days In Stock" type="integer" textalignment="right" readonly="true" mobiledisplay="false" edit-widget-type="number" show="true"></wm-grid-column>
                    <wm-grid-column binding="msrp" caption="MSRP" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="USD" mobiledisplay="false" edit-widget-type="number" show="true"></wm-grid-column>
                    <wm-grid-column binding="invoice" caption="Invoice" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="USD" mobiledisplay="false" edit-widget-type="number" show="true"></wm-grid-column>
                    <wm-grid-column binding="sellingprice" caption="Selling Price" type="float" textalignment="right" readonly="true" formatpattern="toCurrency" currencypattern="USD" mobiledisplay="false" edit-widget-type="number" show="true"></wm-grid-column>
                    <wm-grid-column binding="expiresin" caption="Expires In" type="date" textalignment="right" readonly="true" datepattern="dd/MM/yyyy" formatpattern="toDate" mobiledisplay="false" edit-widget-type="date" show="true"></wm-grid-column>
                    <wm-grid-column binding="extcolor" caption="Color" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="vin" caption="Vin" type="string" readonly="true" mobiledisplay="false" edit-widget-type="text" show="true"></wm-grid-column>
                    <wm-grid-column binding="doors" caption="Doors" type="integer" textalignment="right" readonly="true" mobiledisplay="false" edit-widget-type="number" show="true"></wm-grid-column>
                    <wm-grid-row-action key="customRow" display-name="Send" show="true" class="btn-transparent" iconclass="wi wi-message" title="Custom rowActions" action="customRowAction($event)" disabled="false" icon="wi wi-message"></wm-grid-row-action>
                </wm-grid>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="2" name="gridcolumn2">
                <wm-carousel name="carousel1" dataset="bind:Widgets.vehicleGrid.selecteditem.imagelist" width="100%" type="dynamic">
                    <wm-carousel-template name="carousel_template1" horizontalalign="center">
                        <wm-picture picturesource="{{item}}" shape="rounded" name="picture1" width="100%"></wm-picture>
                    </wm-carousel-template>
                </wm-carousel>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-view class="dialog-view" name="view1">
        <wm-alertdialog name="alertdialog1" alerttype="success" message="Message send succesfully!" title="Success" iconclass="wi wi-check"></wm-alertdialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-alertdialog name="alertdialog2" message="Message failed"></wm-alertdialog>
    </wm-view>
</wm-partial>