<wm-partial data-ng-controller="footerPageController" name="footer" type="footer"> 
    <wm-layoutgrid height="auto" name="footerlayout"> 
        <wm-gridrow name="footerrow"> 
            <wm-gridcolumn name="footerleft" verticalalign="bottom"> 
                <wm-picture name="edmundspicture" picturesource="resources/images/imagelists/300_horizontal_color_edmunds.png" width="200"></wm-picture> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright"> 
                <wm-label caption="Copyright 2016 Autolink Corp." textalign="right" name="copyright"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>