<wm-partial name="partial1" data-ng-controller="EnginePopoverPageController" type="popover"> 
    <wm-layoutgrid columns="2" width="100%" name="layoutgrid1"> 
        <wm-gridrow name="gridrow6"> 
            <wm-gridcolumn name="gridcolumn11_1" colwidth="6"> 
                <wm-label caption="Size" name="label1"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn12_1" colwidth="6"> 
                <wm-label caption="bind:Variables.VehicleEngineVariable.dataSet.dataValue.size" name="label4"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow7"> 
            <wm-gridcolumn name="gridcolumn13_1" colwidth="6"> 
                <wm-label caption="Cylinder" name="label2"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn14" colwidth="6"> 
                <wm-label caption="bind:Variables.VehicleEngineVariable.dataSet.dataValue.cylinder" name="label5"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow8"> 
            <wm-gridcolumn name="gridcolumn15" colwidth="6"> 
                <wm-label caption="Horsepower" name="label3"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn16" colwidth="6"> 
                <wm-label caption="bind:Variables.VehicleEngineVariable.dataSet.dataValue.horsepower" name="label6"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow9"> 
            <wm-gridcolumn name="gridcolumn17" colwidth="6"> 
                <wm-label caption="Fuel Type" name="label9"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn18" colwidth="6"> 
                <wm-label caption="bind:Variables.VehicleEngineVariable.dataSet.dataValue.fuelType" name="label7"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow10"> 
            <wm-gridcolumn name="gridcolumn19" colwidth="6"> 
                <wm-label caption="Configuration" name="label10"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" name="gridcolumn20" colwidth="6"> 
                <wm-label caption="bind:Variables.VehicleEngineVariable.dataSet.dataValue.configuration" name="label8"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>