<wm-page name="page1" data-ng-controller="ScansPageController" pagetitle="Scans"> 
    <wm-header name="header1" content="header"></wm-header> 
    <wm-top-nav name="top_nav1" content="topnav"></wm-top-nav> 
    <wm-content name="content1"> 
        <wm-left-panel name="left_panel1" columnwidth="2" content="leftnav"></wm-left-panel> 
        <wm-page-content name="page_content1" columnwidth="10"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn name="gridcolumn1" columnwidth="8"> 
                        <wm-prefab info="info" icon="icon" lng="lon" lat="lat" locations="bind:Variables.ScanMapDataInvoke.dataSet.scans" name="googlemaps1" prefabname="googlemaps"></wm-prefab> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn2" columnwidth="4"></wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow2"> 
                    <wm-gridcolumn name="gridcolumn4" columnwidth="8"></wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn5" columnwidth="4"></wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer name="footer1" content="footer"></wm-footer> 
</wm-page>