<wm-page name="page1" data-ng-controller="Tree_grid_uiController"> 
    <wm-view name="view1" class="container" backgroundcolor="#fff"> 
        <tree-grid tree-data="tree_data" col-defs="col_defs" icon-leaf="wi wi-file" icon-expand="wi wi-add" icon-collapse="wi wi-minus"></tree-grid> 
    </wm-view> 
</wm-page>