<wm-partial name="partial1" data-ng-controller="VehicleDetailPageController"> 
    <wm-layoutgrid name="layoutgrid1"> 
        <wm-gridrow name="gridrow1"> 
            <wm-gridcolumn height="300" name="gridcolumn1" columnwidth="4"> 
                <wm-panel title="Description&amp;Price" name="panel1"> 
                    <wm-layoutgrid height="200" name="layoutgrid1"> 
                        <wm-gridrow name="gridrow11"> 
                            <wm-gridcolumn name="gridcolumn11_2" colwidth="12"> 
                                <wm-label fontweight="bold" caption="bind:Variables.VehicleDetailVariable.dataSet.year + ' ' + Variables.VehicleDetailVariable.dataSet.make + ' ' + Variables.VehicleDetailVariable.dataSet.model  + ' ' + Variables.VehicleDetailVariable.dataSet.trim" name="vehicle"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow13"> 
                            <wm-gridcolumn name="gridcolumn13" columnwidth="6"> 
                                <wm-label caption="Color" name="label1"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="left" name="gridcolumn2" columnwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.exteriorColor.name" name="label12"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow14"> 
                            <wm-gridcolumn name="gridcolumn14" columnwidth="6"> 
                                <wm-label caption="Interior" name="label1"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="left" name="gridcolumn2" columnwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.interiorColor.name" name="label14"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow12"> 
                            <wm-gridcolumn name="gridcolumn12" columnwidth="6"> 
                                <wm-label caption="Invoice" name="label1"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn2" columnwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.price.baseInvoice | toCurrency: '$': '2'" name="label12"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow2"> 
                            <wm-gridcolumn name="gridcolumn4" columnwidth="6"> 
                                <wm-label caption="Base MSRP" name="label2"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn5" columnwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.price.baseMSRP | toCurrency: '$': '2'" name="label6"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow3"> 
                            <wm-gridcolumn name="gridcolumn7" columnwidth="6"> 
                                <wm-label caption="Delivery Charges" name="label3"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn8" columnwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.price.deliveryCharges | toCurrency: '$': '2'" name="label7"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow5"> 
                            <wm-gridcolumn name="gridcolumn7_2" columnwidth="6"> 
                                <wm-label caption="Guzzler Tax" name="label6"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn8_2" columnwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.price.guzzlerTax | toCurrency: '$': '2'" name="label9"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow4"> 
                            <wm-gridcolumn name="gridcolumn7_1" columnwidth="6"> 
                                <wm-label caption="Total MSRP" name="label4"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn8_1" columnwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.price.msrp | toCurrency: '$': '2'" name="label8"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-panel> 
            </wm-gridcolumn> 
            <wm-gridcolumn height="300" name="gridcolumn2" columnwidth="4"> 
                <wm-panel title="Standard Features" name="panel2"> 
                    <wm-tree height="200" treeicons="plus-minus" dataset="bind:Variables.detailFeaturesVariable.dataSet" name="detailFeaturesTree"></wm-tree> 
                </wm-panel> 
            </wm-gridcolumn> 
            <wm-gridcolumn height="300" name="gridcolumn3" columnwidth="4"> 
                <wm-panel title="Options" name="panel5"> 
                    <wm-prefab height="200" cols="bind:Variables.optionsColVariable.dataSet" list="bind:Variables.detailOptionsVariable.dataSet" name="options_tree_grid_ui" prefabname="tree_grid_ui"></wm-prefab> 
                </wm-panel> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow2"> 
            <wm-gridcolumn name="gridcolumn4" columnwidth="4"> 
                <wm-panel title="Transmission&amp;Engine" name="panel4"> 
                    <wm-layoutgrid height="250" columns="2" width="100%" name="layoutgrid1"> 
                        <wm-gridrow name="gridrow6"> 
                            <wm-gridcolumn name="gridcolumn11_1" colwidth="6"> 
                                <wm-label caption="Size" name="label1"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn12_1" colwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.engine.size" name="label4"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow7"> 
                            <wm-gridcolumn name="gridcolumn13_1" colwidth="6"> 
                                <wm-label caption="Cylinder" name="label2"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn14" colwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.engine.cylinder" name="label5"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow8"> 
                            <wm-gridcolumn name="gridcolumn15" colwidth="6"> 
                                <wm-label caption="Horsepower" name="label3"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn16" colwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.engine.horsepower" name="label6"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow9"> 
                            <wm-gridcolumn name="gridcolumn17" colwidth="6"> 
                                <wm-label caption="Fuel Type" name="label9"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn18" colwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.engine.fuelType" name="label7"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow10"> 
                            <wm-gridcolumn name="gridcolumn19" colwidth="6"> 
                                <wm-label caption="Configuration" name="label10"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn20" colwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.engine.configuration" name="label8"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow11"> 
                            <wm-gridcolumn name="gridcolumn21" colwidth="6"> 
                                <wm-label caption="Transsmission Type" name="label9"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn22" colwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.transmission.automaticType" name="label78"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow12"> 
                            <wm-gridcolumn name="gridcolumn23" colwidth="6"> 
                                <wm-label caption="Number of Speeds" name="label10"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn24" colwidth="6"> 
                                <wm-label caption="bind:Variables.VehicleDetailVariable.dataSet.transmission.numberOfSpeeds" name="label88"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-panel> 
            </wm-gridcolumn> 
            <wm-gridcolumn name="gridcolumn5" columnwidth="4"> 
                <wm-panel title="Consumer Rebates" name="panel6"> 
                    <wm-layoutgrid name="layoutgrid4"> 
                        <wm-gridrow name="gridrow13"> 
                            <wm-gridcolumn name="gridcolumn27" columnwidth="6"> 
                                <wm-label caption="bind:Variables.ConsumerRebatesVariable.dataSet.ConsumerIncentives[$i].CashDealScenarios.ConsumerCash.ConsumerCashName" name="totalCashNameLabel"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn horizontalalign="right" name="gridcolumn28" columnwidth="6"> 
                                <wm-label caption="bind:Variables.ConsumerRebatesVariable.dataSet.ConsumerIncentives[$i].CashDealScenarios.ConsumerCash.TotalConsumerCash | toCurrency: '$': '2'" name="totalCashValueLabel"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-prefab cols="bind:Variables.rebatesColVariable.dataSet" list="bind:Variables.detailRebatesVariable.dataSet" height="250" name="treeGridRebates" prefabname="tree_grid_ui"></wm-prefab> 
                </wm-panel> 
            </wm-gridcolumn> 
            <wm-gridcolumn name="gridcolumn6" columnwidth="4"> 
                <wm-panel enablefullscreen="true" title="Images" name="panel3"> 
                    <wm-carousel dataset="bind:Variables.VehicleDetailVariable.dataSet.imagelist" width="100%" name="carousel1" type="dynamic"> 
                        <wm-carousel-template name="carousel_template1" horizontalalign="center"> 
                            <wm-picture picturesource="{{item}}" shape="rounded" name="picture1" width="100%"></wm-picture> 
                        </wm-carousel-template> 
                    </wm-carousel> 
                </wm-panel> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>