<wm-page data-ng-controller="DealerCashPageController" pagetitle="Dealer Cash" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="configLefnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livegrid name="livegrid1">
                <wm-grid gridfirstrowselect="true" title="Dealer Cash" dataset="bind:Variables.MonzaDealerRebatesData.dataSet" navigation="Basic" name="grid2" editmode="inline" spacing="condensed" filtermode="multicolumn" on-select="grid2Select($event, $rowData)"
                gridclass="table-bordered table-hover">
                    <wm-grid-column binding="year" caption="Year" type="integer" generator="assigned" edit-widget-type="select" dataset="bind:Variables.yearsVariable.dataSet" datafield="dataValue" displayfield="name" show="true" readonly="false" on-change="yearChange($event, $scope, rowData)"></wm-grid-column>
                    <wm-grid-column binding="make" caption="Make" type="string" generator="assigned" edit-widget-type="select" dataset="bind:Variables.MonzaDealerMakeData.dataSet" datafield="make" displayfield="make" show="true" readonly="false"
                    on-change="makeChange($event, $scope, rowData)"></wm-grid-column>
                    <wm-grid-column binding="model" caption="Model" type="string" generator="assigned" edit-widget-type="select" dataset="bind:Variables.modelsVariable.dataSet.models" datafield="name" displayfield="name" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="trim" caption="Trim" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="rebate" caption="Rebate" type="float" textalignment="right" generator="assigned" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="expiration" caption="Expiration" type="date" generator="assigned" datepattern="dd/MM/yyyy" formatpattern="toDate" edit-widget-type="date" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="state" caption="State" type="integer" generator="assigned" edit-widget-type="select" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue" displayfield="name" defaultvalue="0"
                    show="true" filterwidget="select" readonly="false">
                        <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                    </wm-grid-column>
                    <wm-grid-column binding="dealers.dealerId" type="integer" generator="assigned" is-related-pk="true" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaDealersData.dataSet" datafield="dealerId" displayfield="name"
                    defaultvalue="bind:Variables.dealerId.dataSet.dataValue" show="false" related-entity-name="Dealers" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" disabled="false"></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="updaterowAction($event);editRow()" disabled="false"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                </wm-grid>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>