<wm-page layouttype="one-column" columns="1" data-ng-controller="LoginPageController" name="page1" pagetitle="Login"> 
    <wm-header height="auto" name="header"> 
        <wm-layoutgrid name="headerlayout" height="6em"> 
            <wm-gridrow name="headerrow"> 
                <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="12"> 
                    <wm-picture margin="unset unset unset 5px" shape="rounded" width="60" picturesource="resources/images/logos/uQuote - Design - Logo v5 - Icon White  Light Blue.png" name="AppLogo"></wm-picture> 
                    <wm-label textalign="right" width="178" fontweight="bold" caption="Dealer Console" class="application-name" name="AppName" fontsize="20"></wm-label> 
                </wm-gridcolumn> 
            </wm-gridrow> 
        </wm-layoutgrid> 
    </wm-header> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="column1"> 
            <wm-layoutgrid name="loginGrid" height="auto"> 
                <wm-gridrow name="loginGridRow" height="100%"> 
                    <wm-gridcolumn name="paddingColumnLeft" columnwidth="4"></wm-gridcolumn> 
                    <wm-gridcolumn name="loginContentColumn" columnwidth="4" horizontalalign="left"> 
                        <wm-tile margin="20% unset" borderwidth="1px" name="loginPanel" horizontalalign="left" backgroundcolor="#e3e3e3" bordercolor="#b8b8b8" borderstyle="solid" height="auto" width="100%"> 
                            <wm-login name="loginForm" data-ng-controller="loginFormController" on-submit="Variables.loginVariable.invoke()"> 
                                <wm-composite name="userNameField"> 
                                    <wm-label caption="Username" name="userNameLabel"></wm-label> 
                                    <wm-text placeholder="Enter username" name="usernametext" class="app-login-username" width="100%" autocomplete="off" autocorrect="off" autocapitalize="off" updateon="default"></wm-text> 
                                </wm-composite> 
                                <wm-composite name="passwordField"> 
                                    <wm-label caption="Password" name="passwordLabel"></wm-label> 
                                    <wm-text type="password" name="passwordtext" placeholder="Enter password" class="app-login-password" width="100%" autocomplete="off" autocorrect="off" autocapitalize="off" updateon="default"></wm-text> 
                                </wm-composite> 
                                <wm-container name="container3_1"> 
                                    <wm-composite name="dealerField" show="false"> 
                                        <wm-label name="label8" caption="Dealership"></wm-label> 
                                        <wm-container class="col-md-9" name="container4"> 
                                            <wm-select name="selectDealer" datafield="All Fields" width="100%"></wm-select> 
                                        </wm-container> 
                                    </wm-composite> 
                                </wm-container> 
                                <wm-button type="submit" caption="Sign in" width="100%" class="app-login-button btn-primary" name="loginButton"></wm-button> 
                                <wm-composite name="remembermeFields" class="app-login-rememberme"> 
                                    <wm-checkbox caption="Remember Me" name="remembermeCheck"></wm-checkbox> 
                                </wm-composite> 
                                <wm-anchor caption="Forgot Password" class="app-login-forgotlink" name="forgetPassword"></wm-anchor> 
                            </wm-login> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="paddingColumnRight" columnwidth="4"></wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer name="footer"> 
        <wm-layoutgrid height="60" name="footerlayout"> 
            <wm-gridrow name="footerrow"> 
                <wm-gridcolumn name="footerleft" verticalalign="bottom"> 
                    <wm-label caption="Powered by WaveMaker" textalign="left" name="poweredby"></wm-label> 
                </wm-gridcolumn> 
                <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright"> 
                    <wm-label caption="Copyright 2016 Autolink Corp." textalign="right" name="copyright"></wm-label> 
                </wm-gridcolumn> 
            </wm-gridrow> 
        </wm-layoutgrid> 
    </wm-footer> 
</wm-page>