<wm-partial data-ng-controller="InventoryEmailPageController" name="partial1"> 
    <wm-form captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="get" captionalign="left" name="form1" dataset="bind:Variables.InventoryEmailInvoke.dataSet"> 
        <wm-layoutgrid columns="3" name="layoutgrid1"> 
            <wm-gridrow name="gridrow1"> 
                <wm-gridcolumn columnwidth="4" name="gridcolumn6"> 
                    <wm-form-field readonly="false" name="make" displayname="Make" target="make" show="true" widget="select" type="custom" model="make" dataset="bind:Variables.MonzaDealerMakeData.dataSet" datafield="make" displayfield="make" on-change="makeChange($event, $scope)"></wm-form-field> 
                </wm-gridcolumn> 
                <wm-gridcolumn columnwidth="4" name="gridcolumn1"> 
                    <wm-form-field readonly="false" name="model" displayname="Model" target="model" show="true" widget="select" type="custom" dataset="bind:Variables.modelsEmailVariable.dataSet.models" datafield="name" displayfield="name"></wm-form-field> 
                </wm-gridcolumn> 
                <wm-gridcolumn columnwidth="4" name="gridcolumn5"> 
                    <wm-form-field readonly="false" name="trim" displayname="Trim" target="trim" type="string" show="true" widget="text"></wm-form-field> 
                </wm-gridcolumn> 
            </wm-gridrow> 
            <wm-gridrow name="gridrow2"> 
                <wm-gridcolumn columnwidth="12" name="gridcolumn6"> 
                    <wm-form-field readonly="false" name="recipients" displayname="Recipients" target="recipients" show="true" widget="select" type="custom" model="make" dataset="bind:Variables.MonzaUsersData.dataSet" datafield="email" displayfield="email"></wm-form-field> 
                </wm-gridcolumn> 
            </wm-gridrow> 
        </wm-layoutgrid> 
        <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1"> 
            <wm-button caption="Reset" type="reset" class="btn-secondary" name="button1"></wm-button> 
            <wm-button caption="Cancel" type="button" class="btn-warning" name="button2"></wm-button> 
            <wm-button caption="Send" type="submit" class="btn-primary" name="button3" iconclass="wi wi-email"></wm-button> 
        </wm-buttongroup> 
    </wm-form> 
</wm-partial>