<wm-partial name="partial1" data-ng-controller="InteriorPopoverPageController" type="popover"> 
    <wm-label caption="bind:Variables.VehicleDescriptionInvoke.dataSet.interiorColor.name" name="labelColor"></wm-label> 
    <wm-container height="80" width="80" name="containerColor"></wm-container> 
</wm-partial>