<wm-page data-ng-controller="DealerInfoPageController" pagetitle="Dealer Info" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="configLefnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livegrid service="monza@Dealers" name="livegrid2">
                <wm-grid height="100px" enablesort="false" name="grid1" navigation="None" dataset="bind:Variables.MonzaDealersData.dataSet" title="Dealer Info" gridfirstrowselect="true" class="panel-default" spacing="condensed" accessroles="Authenticated"
                editmode="form" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="dealerId" caption="Dealer Id" type="integer" primary-key="true" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="franchiseId" caption="Franchise Id" type="integer" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="name" caption="Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="street" caption="Street" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="city" caption="City" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="stateCode" caption="State" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="zipcode" caption="Zipcode" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" accessroles=",admin" disabled="false"></wm-grid-row-action>
                </wm-grid>
                <wm-liveform name="liveform3" captionposition="left" captionalign="left" dataset="bind:Variables.MonzaDealersData.dataSet" novalidate="false" formlayout="inline" class="panel-default">
                    <wm-layoutgrid name="layoutgrid4">
                        <wm-gridrow name="gridrow18">
                            <wm-gridcolumn name="gridcolumn43" columnwidth="6">
                                <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" widget="text" maxchars="200" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn44" columnwidth="6">
                                <wm-form-field name="phone" displayname="Phone" show="true" primary-key="false" generator="assigned" key="phone" type="string" widget="text" maxchars="45" inputtype="tel" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow19">
                            <wm-gridcolumn name="gridcolumn45" columnwidth="6">
                                <wm-form-field name="contact" displayname="Contact" show="true" primary-key="false" generator="assigned" key="contact" type="string" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn46" columnwidth="6">
                                <wm-form-field name="email" displayname="Email" show="true" primary-key="false" generator="assigned" key="email" type="string" widget="text" maxchars="100" inputtype="email" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow20">
                            <wm-gridcolumn name="gridcolumn47" columnwidth="6">
                                <wm-form-field name="street" displayname="Street" show="true" primary-key="false" generator="assigned" key="street" type="string" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn48" columnwidth="6">
                                <wm-form-field name="inventoryProvider" displayname="Inventory Provider" show="true" primary-key="false" generator="assigned" key="inventoryProvider" type="string" widget="select" maxchars="45" dataset="bind:Variables.inventoryProvidersVariable.dataSet"
                                datafield="dataValue" displayfield="dataValue" placeholder="Select value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow21">
                            <wm-gridcolumn name="gridcolumn49" columnwidth="6">
                                <wm-form-field name="city" displayname="City" show="true" primary-key="false" generator="assigned" key="city" type="string" widget="text" maxchars="100" dataset="bind:Variables.MonzaDealersData.dataSet" datafield="inventoryProvider"
                                displayfield="inventoryProvider" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn50" columnwidth="6">
                                <wm-form-field name="inventoryId" displayname="Inventory Id" show="true" primary-key="false" generator="assigned" key="inventoryId" type="string" widget="text" maxchars="45" dataset="bind:Variables.MonzaDealersData.dataSet"
                                datafield="inventoryProvider" displayfield="inventoryProvider" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow22">
                            <wm-gridcolumn name="gridcolumn51" columnwidth="6">
                                <wm-form-field name="stateCode" displayname="State" show="true" primary-key="false" generator="assigned" key="stateCode" type="string" widget="select" maxchars="2" dataset="bind:Variables.usStatesVariable.dataSet" datafield="abbreviation"
                                displayfield="name" placeholder="Select value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn52" columnwidth="6">
                                <wm-form-field name="crmProvider" displayname="CRM Provider" show="true" primary-key="false" generator="assigned" key="crmProvider" type="string" widget="select" maxchars="45" dataset="bind:Variables.crmProvidersVariable.dataSet"
                                datafield="dataValue" displayfield="dataValue" placeholder="Select value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow23">
                            <wm-gridcolumn name="gridcolumn53" columnwidth="6">
                                <wm-form-field name="zipcode" displayname="Zipcode" show="true" primary-key="false" generator="assigned" key="zipcode" type="string" widget="text" maxchars="10" dataset="bind:Variables.MonzaDealersData.dataSet" datafield="crmProvider"
                                displayfield="crmProvider" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn54" columnwidth="6">
                                <wm-form-field name="crmEmail" displayname="CRM Email" show="true" primary-key="false" generator="assigned" key="crmEmail" type="string" widget="text" maxchars="45" dataset="bind:Variables.MonzaDealersData.dataSet" datafield="crmProvider"
                                displayfield="crmProvider" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn name="gridcolumn1" columnwidth="6">
                                <wm-form-field name="balanceField" displayname="Balance Field" show="true" primary-key="false" generator="assigned" key="balanceField" type="string" mobile-display="false" widget="select" maxchars="45" dataset="bind:Variables.balanceFieldVariable.dataSet"
                                datafield="dataValue" displayfield="name" placeholder="Select value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn4" columnwidth="6">
                                <wm-form-field name="apr" displayname="Apr" show="true" primary-key="false" generator="assigned" key="apr" type="float" mobile-display="false" step="0.01" widget="currency"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                <wm-form-field name="website" displayname="Website" show="true" primary-key="false" generator="assigned" key="website" type="string" mobile-display="false" widget="text" maxchars="120"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn name="gridcolumn2" columnwidth="6">
                                <wm-form-field name="fbPageUrl" displayname="Fb Page Url" show="true" primary-key="false" generator="assigned" key="fbPageUrl" type="string" mobile-display="false" widget="text" maxchars="200"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn3" columnwidth="6">
                                <wm-form-field name="fbMessengerUrl" displayname="Fb Messenger Url" show="true" primary-key="false" generator="assigned" key="fbMessengerUrl" type="string" mobile-display="false" widget="text" maxchars="120"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn name="gridcolumn5" columnwidth="6">
                                <wm-form-field name="publicPriceOverride" displayname="Public Price Override" show="true" primary-key="false" generator="assigned" key="publicPriceOverride" type="byte" mobile-display="false" step="0" widget="checkbox" checkedvalue="1"
                                uncheckedvalue="0"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn6" columnwidth="6">
                                <wm-form-field name="useDirect" displayname="Use Direct" show="true" primary-key="false" generator="assigned" key="useDirect" type="byte" mobile-display="false" step="0" widget="checkbox" checkedvalue="1" uncheckedvalue="0"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
            <wm-grid editmode="inline" title="Dealer Facebook Configuration" dataset="bind:Variables.MonzaDealerFbConfigData.dataSet" navigation="None" name="gridFacebookConfig" spacing="condensed" accessroles="admin" gridclass="table-bordered table-hover">
                <wm-grid-column binding="pageId" caption="Page Id" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="applicationId" caption="Application Id" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="accessToken" caption="Access Token" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="state" caption="State" type="integer" generator="assigned" edit-widget-type="select" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue" displayfield="name" defaultvalue="0" show="true"
                readonly="false">
                    <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                </wm-grid-column>
                <wm-grid-column binding="dealers.dealerId" caption="" type="integer" primary-key="true" generator="assigned" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaDealerMakeData.dataSet" datafield="dealers.dealerId"
                displayfield="dealers.dealerId" defaultvalue="bind:Widgets.grid1.selecteditem.dealerId" sortable="false" show="false" related-entity-name="Dealers" readonly="false"></wm-grid-column>
                <wm-grid-column binding="verifyToken" caption="Verify Token" type="string" generator="assigned" accessroles="admin" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" accessroles="admin" shortcutkey="" disabled="false"></wm-grid-action>
                <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" accessroles="admin" disabled="false"></wm-grid-row-action>
                <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" accessroles="admin" disabled="false"></wm-grid-row-action>
            </wm-grid>
            <wm-grid title="Dealer Makes" dataset="bind:Variables.MonzaDealerMakeData.dataSet" navigation="Classic" name="gridDealerMakes" accessroles="Authenticated" spacing="condensed" editmode="inline" gridclass="table-bordered table-hover">
                <wm-grid-column binding="make" caption="Make" type="string" generator="assigned" edit-widget-type="select" dataset="bind:Variables.ModelsVariable.dataSet.makes" datafield="name" displayfield="name" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="makeNiceName" caption="Make Nice Name" type="string" generator="assigned" edit-widget-type="select" dataset="bind:Variables.ModelsVariable.dataSet.makes" datafield="niceName" displayfield="name"
                show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="state" caption="State" type="integer" generator="assigned" edit-widget-type="select" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue" displayfield="name" defaultvalue="0" show="true"
                readonly="false">
                    <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                </wm-grid-column>
                <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" accessroles="admin" disabled="false"></wm-grid-action>
                <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" accessroles="admin" disabled="false"></wm-grid-row-action>
                <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" accessroles="admin" disabled="false"></wm-grid-row-action>
            </wm-grid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>