<wm-page name="page1" data-ng-controller="PricesSetupPageController" pagetitle="Prices Setup">
    <wm-header name="header1" content="header"></wm-header>
    <wm-top-nav name="top_nav1" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel name="left_panel1" columnwidth="2" content="configLefnav"></wm-left-panel>
        <wm-page-content name="page_content1" columnwidth="10">
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane2" title="By Channel">
                    <wm-gridrow name="gridrow16">
                        <wm-gridcolumn horizontalalign="left" columnwidth="4" name="gridcolumn38" padding="unset 5px unset unset">
                            <wm-composite name="composite1">
                                <wm-label class="col-md-3 control-label" name="label19" caption="Channel"></wm-label>
                                <wm-container class="col-md-9" name="container1">
                                    <wm-select name="selectChannel" dataset="bind:Variables.ChannelsLiveVariableData.dataSet" datafield="channelId" displayfield="name" datavalue="1"></wm-select>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-grid editmode="inline" title="Discounts By Channel" dataset="bind:Variables.MonzaChannelDiscountData.dataSet" navigation="Basic" name="grid4" filtermode="multicolumn" exportformat="EXCEL,CSV" spacing="condensed" gridclass="table-bordered table-hover">
                        <wm-grid-column binding="priceSetup.year" caption="Year" type="integer" generator="assigned" readonly="true" edit-widget-type="number" show="true" filterwidget="select" related-entity-name="PriceSetup"></wm-grid-column>
                        <wm-grid-column binding="priceSetup.make" caption="Make" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" filterwidget="select" related-entity-name="PriceSetup"></wm-grid-column>
                        <wm-grid-column binding="priceSetup.model" caption="Model" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" filterwidget="select" related-entity-name="PriceSetup"></wm-grid-column>
                        <wm-grid-column binding="priceSetup.trim" caption="Trim" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="PriceSetup"></wm-grid-column>
                        <wm-grid-column binding="discountBase" caption="Discount Base" type="string" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.inventoryFieldsVariable.dataSet" datafield="dataValue"
                        displayfield="name" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="discount" caption="Discount" type="integer" textalignment="right" generator="assigned" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="percent" caption="Percent" type="integer" textalignment="right" generator="assigned" formatpattern="suffix" suffix="%" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="state" caption="State" type="integer" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue" displayfield="name"
                        defaultvalue="0" show="true" filterwidget="select" readonly="false" on-change="stateOnChange($event, $scope, rowData)">
                            <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                        </wm-grid-column>
                        <wm-grid-column binding="dealers.dealerId" caption="" type="integer" generator="assigned" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaDealersData.dataSet" datafield="dealerId" displayfield="name"
                        defaultvalue="bind:Widgets.grid1.selecteditem.dealers.dealerId" show="false" related-entity-name="Dealers" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                    </wm-grid>
                </wm-tabpane>
                <wm-tabpane name="tabpane1" title="By Model">
                    <wm-livegrid service="monza@PriceSetup" name="livegrid1">
                        <wm-grid spacing="condensed" name="grid1" navigation="Advanced" title="Price Setup Rules" gridfirstrowselect="true" class="panel-default" exportformat="EXCEL,CSV" editmode="inline" filtermode="search" dataset="bind:Variables.MonzaPriceSetupData.dataSet"
                        on-select="grid1Select($event, $rowData)" gridclass="table-bordered table-hover">
                            <wm-grid-column binding="year" caption="Year" type="integer" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.yearsVariable.dataSet" datafield="dataValue" displayfield="name" show="true"
                            readonly="false" on-change="yearChange($event, $scope, rowData)"></wm-grid-column>
                            <wm-grid-column binding="make" caption="Make" type="string" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.MonzaDealerMakeData.dataSet" datafield="make" displayfield="make"
                            show="true" readonly="false" on-change="makeChange($event, $scope, rowData)"></wm-grid-column>
                            <wm-grid-column binding="model" caption="Model" type="string" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.modelsVariable.dataSet.models" datafield="name" displayfield="name"
                            show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="trim" caption="Trim" type="string" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="priceBase" caption="Price Base" type="string" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.inventoryFieldsVariable.dataSet" datafield="dataValue"
                            displayfield="name" defaultvalue="bind:Widgets.grid1.selecteditem.priceBase" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="tradeinDiscount" caption="Tradein Discount" type="integer" textalignment="right" generator="assigned" formatpattern="toCurrency" currencypattern="USD" mobiledisplay="false" edit-widget-type="number"
                            show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="financeDiscount" caption="Finance Discount" type="integer" textalignment="right" generator="assigned" formatpattern="toCurrency" currencypattern="USD" mobiledisplay="false" edit-widget-type="number"
                            show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="state" caption="State" type="integer" widget-type="wm-label" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue"
                            displayfield="name" defaultvalue="0" show="true" readonly="false">
                                <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                            </wm-grid-column>
                            <wm-grid-column binding="dealers.dealerId" caption="" type="integer" generator="assigned" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaDealersData.dataSet" datafield="dealerId" displayfield="name"
                            defaultvalue="bind:Variables.dealerId.dataSet.dataValue" show="false" related-entity-name="Dealers" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="updaterowAction($event);editRow()" disabled="false"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                        </wm-grid>
                    </wm-livegrid>
                    <wm-grid title="Channel Discounts" dataset="bind:Variables.ChannelDiscountVariableData.dataSet" navigation="Basic" name="grid3" spacing="condensed" editmode="inline" gridclass="table-bordered table-hover">
                        <wm-grid-column binding="channelId" caption="Channel" type="integer" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.ChannelsLiveVariableData.dataSet" datafield="channelId" displayfield="name"
                        show="true" readonly="false" on-change="channelIdOnChange($event, $scope, rowData)">
                            <wm-label caption="{{row.getProperty('channelId') ? 'Direct' : 'Competing'}}" show="true" data-ng-class=""></wm-label>
                        </wm-grid-column>
                        <wm-grid-column binding="discountBase" caption="Discount Base" type="string" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.inventoryFieldsVariable.dataSet" datafield="dataValue" displayfield="name"
                        show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="discount" caption="Discount" type="integer" textalignment="right" primary-key="false" generator="assigned" formatpattern="toCurrency" currencypattern="USD" fractionsize="0" edit-widget-type="number"
                        defaultvalue="0" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="percent" caption="Percent" type="integer" textalignment="right" primary-key="false" generator="assigned" formatpattern="suffix" suffix="%" edit-widget-type="number" defaultvalue="0" show="true"
                        readonly="false"></wm-grid-column>
                        <wm-grid-column binding="state" caption="State" type="integer" primary-key="false" generator="assigned" edit-widget-type="select" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue" displayfield="name"
                        defaultvalue="0" show="true" readonly="false" on-change="stateOnChange($event, $scope, rowData)">
                            <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                        </wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-column binding="dealers.dealerId" type="integer" generator="assigned" is-related-pk="true" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaDealersData.dataSet" datafield="dealerId"
                        displayfield="name" defaultvalue="bind:Widgets.grid1.selecteditem.dealers.dealerId" show="false" related-entity-name="Dealers" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="priceSetup.priceSetupId" type="integer" generator="identity" is-related-pk="true" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.ChannelDiscountVariableData.dataSet"
                        datafield="priceSetup.priceSetupId" displayfield="priceSetup.priceSetupId" defaultvalue="bind:Widgets.grid1.selecteditem.priceSetupId" sortable="false" show="false" related-entity-name="PriceSetup" readonly="false"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" disabled="false"></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                    </wm-grid>
                    <wm-grid title="Age Discount Ranges" dataset="bind:Variables.MonzaDiscountAgeRangesData.dataSet" navigation="Basic" name="grid2" spacing="condensed" editmode="inline" gridclass="table-bordered table-hover">
                        <wm-grid-column binding="min" caption="Min" type="integer" textalignment="right" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="max" caption="Max" type="integer" textalignment="right" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="discount" caption="Discount" type="integer" textalignment="right" generator="assigned" formatpattern="toCurrency" currencypattern="USD" fractionsize="0" edit-widget-type="number" defaultvalue="0"
                        show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="percent" caption="Percent" type="integer" textalignment="right" generator="assigned" formatpattern="suffix" suffix="%" mobiledisplay="false" edit-widget-type="number" defaultvalue="0" show="true"
                        readonly="false"></wm-grid-column>
                        <wm-grid-column binding="priority" caption="Priority" type="integer" textalignment="right" generator="assigned" edit-widget-type="number" defaultvalue="1" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="state" caption="State" type="integer" generator="assigned" edit-widget-type="select" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue" displayfield="name" defaultvalue="0"
                        show="true" readonly="false">
                            <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                        </wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-column binding="dealers.dealerId" type="integer" generator="assigned" is-related-pk="true" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaDiscountAgeRangesData.dataSet" datafield="dealers.dealerId"
                        displayfield="dealers.dealerId" defaultvalue="bind:Widgets.grid1.selecteditem.dealerId" sortable="false" show="false" related-entity-name="Dealers" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="priceSetup.priceSetupId" type="integer" generator="identity" is-related-pk="true" mobiledisplay="false" edit-widget-type="select" dataset="bind:Variables.MonzaDiscountAgeRangesData.dataSet"
                        datafield="priceSetup.priceSetupId" displayfield="priceSetup.priceSetupId" defaultvalue="bind:Widgets.grid1.selecteditem.priceSetupId" sortable="false" show="false" related-entity-name="PriceSetup" readonly="false"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" disabled="false"></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                    </wm-grid>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer1" content="footer"></wm-footer>
</wm-page>