<wm-partial data-ng-controller="HelpPopoverPageController" type="popover" name="partial1"> 
    <wm-prefab prefabname="youtube" name="helpYoutube" youtubeurl="https://youtu.be/mYl6-PGxrpA"></wm-prefab> 
</wm-partial>