<wm-page data-ng-controller="UsersPageController" pagetitle="Users" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="configLefnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livegrid service="monza@Users" name="livegrid1">
                <wm-grid spacing="condensed" name="grid1" dataset="bind:Variables.MonzaUsersData.dataSet" title="Users" gridfirstrowselect="true" class="panel-default" editmode="form" gridclass="table-bordered table-hover">
                    <wm-grid-column binding="username" caption="Username" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="lastName" caption="Last Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="firstName" caption="First Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="email" caption="Email" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="phone" caption="Phone" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="state" caption="State" type="integer" generator="assigned" edit-widget-type="number" show="true" readonly="false">
                        <wm-label caption="{{row.getProperty('state') ? 'Inactive' : 'Active'}}" show="true" data-ng-class=""></wm-label>
                    </wm-grid-column>
                    <wm-grid-column binding="created" caption="Created" type="datetime" generator="assigned" edit-widget-type="datetime" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" accessroles="admin" disabled="false"></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" accessroles=",admin" disabled="false"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" accessroles=",admin" disabled="false"></wm-grid-row-action>
                </wm-grid>
                <wm-liveform name="liveform1" captionposition="left" captionalign="left" dataset="bind:Variables.MonzaUsersData.dataSet" novalidate="false" title="bind:Widgets.grid1.selecteditem.firstName + ' ' + Widgets.grid1.selecteditem.lastName + ' Detail'"
                formlayout="inline" class="panel-default">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn name="gridcolumn1" columnwidth="6">
                                <wm-form-field name="role" displayname="Role" show="true" primary-key="false" generator="assigned" key="role" type="string" is-related="false" pc-display="true" mobile-display="true" widget="select" maxchars="45" regexp=".*"
                                placeholder="Select value" dataset="bind:Variables.userRolesVariable.dataSet" datafield="dataValue" displayfield="name"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn2" columnwidth="6">
                                <wm-form-field name="email" displayname="Email" show="true" primary-key="false" generator="assigned" key="email" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="100" inputtype="email"
                                regexp=".*" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn name="gridcolumn3" columnwidth="6">
                                <wm-form-field name="firstName" displayname="First Name" show="true" primary-key="false" generator="assigned" key="firstName" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="45"
                                inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn4" columnwidth="6">
                                <wm-form-field name="phone" displayname="Phone" show="true" primary-key="false" generator="assigned" key="phone" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="45" regexp=".*"
                                placeholder="Select value" inputtype="tel"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn name="gridcolumn5" columnwidth="6">
                                <wm-form-field name="lastName" displayname="Last Name" show="true" primary-key="false" generator="assigned" key="lastName" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="45"
                                inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn6" columnwidth="6">
                                <wm-form-field name="state" displayname="State" show="true" primary-key="false" generator="assigned" key="state" type="integer" is-related="false" pc-display="true" mobile-display="true" step="0" widget="select" regexp=".*"
                                placeholder="Enter value" dataset="bind:Variables.stateVariable.dataSet" datafield="dataValue" displayfield="name"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                <wm-form-field name="dealers" displayname="Dealers" show="true" primary-key="false" generator="assigned" key="dealers" type="list" is-related="true" pc-display="true" mobile-display="false" widget="select" dataset="bind:Variables.MonzaDealersData.dataSet"
                                datafield="All Fields" displayfield="name" defaultvalue="bind:Variables.MonzaDealersData.dataSet.data[$i].userses[$i].dealers" regexp=".*" placeholder="Select value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>